<div i-pad="medium" i-hover>
    <div i-text="bold 200%" i-pad="half-b">Project title</div>

    <a i-link="ghost" i-pad="half-b" href="/">
        <svg i-icon><use xlink:href="#icon-sonar"></svg>
    </a>

    <ul i-pad="half-b" i-text="75%">
        <li>First category</li>
        <li>2nd category</li>
        <li>Third category</li>
    </ul>

    <div i-pad="half-b" i-text="75% light">{{ site.time }}</div>

    <div i-hover-item="show">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
</div>
