<article i-section="main">

    <h2>Base typography</h2>

    <h3>Headers</h3>

    <table i-table="hoverable">
        <tbody>
            <tr>
                <th>h1</th>

                <td>
                    <h1>header level 1</h1>
                </td>
            </tr>
            <tr>
                <th>h2</th>

                <td>
                    <h2>header level 2</h2>
                </td>
            </tr>
            <tr>
                <th>h3</th>

                <td>
                    <h3>header level 3</h3>
                </td>
            </tr>
            <tr>
                <th>h4</th>

                <td>
                    <h4>header level 4</h4>
                </td>
            </tr>
        </tbody>

    </table>

    <h3>Paragraph and inline elements</h3>

    <p>
        Paragraph <strong>strong</strong> lorem ipsum <em>emphasis</em>
        dolor sit <small>small</small>, consectetur adipisicing elit,
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
        minim veniam, <sup>sup</sup> nostrud exercitation ullamco
        aliquip ex ea commodo consequat. Duis aute irure <sub>sub</sub>
        rep rehenderit in voluptate velit esse cillum dolore eu fugiat
        nulla pariatur. Excepteur sint <code>inline.code.block();</code>
        occaecat cupidatat non proident, sunt in culpa qui officia
        deserunt mollit anim id est laborum.
    </p>

    <h3>Lists</h3>

    <ul>
        <li>unordered</li>
        <li>list</li>
        <li>element</li>
    </ul>

    <ol>
        <li>ordered</li>
        <li>list</li>
        <li>element</li>
    </ol>

    <h3>Quotes</h3>

    <blockquote>
        <p>
            A difficult task is a sign from the universe that you
            should be on the internet right now.
        </p>
        <cite>Toothpaste for Dinner</cite>
    </blockquote>

</article>
