//------------------------------------------------------------------------------
// progresses config
//------------------------------------------------------------------------------

// common
$progress-h: $w-small;
$progress-br: $w-small * 0.5;
$progress-indicator-min-w: $progress-h;

// default
$progress-default-bg-c: rgba(black, $f-medium);
$progress-default-indicator-bg-c: black;

// inline
$progress-inline-w: 160px;

// pending
$progress-pending-after-w: $progress-h;
$progress-pending-after-bg-c: rgba(white, $f-big);
$progress-pending-gr: linear-gradient(
    -45deg,
    transparent 0%,
    transparent 25%,
    rgba(white, $f-medium) 25%,
    rgba(white, $f-medium) 50%,
    transparent 50%,
    transparent 75%,
    rgba(white, $f-medium) 75%,
    rgba(white, $f-medium) 100%
);
