//------------------------------------------------------------------------------
// images module
//------------------------------------------------------------------------------

/*
    <figure am-image='small' style='background-image: THUMBNAILURL'></figure>
*/

@import 'modules/images/config';

[am-image] {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: $image-empty-bg-c;
    @include backface-visibility(hidden);
}

[am-image~='small'] {
    width: $image-small-w;
    height: $image-small-h;
}
