<section i-area="pad-medium-v">
    <header i-area="pad-medium-v">
        <h2><a name="toc-colors"></a>Colors</h2>
    </header>

    <article i-area="pad-medium-v">
        <div i-area="amaranth pad-half">amaranth</div>
        <div i-area="purple pad-half">purple</div>
        <div i-area="violet pad-half">violet</div>
        <div i-area="white pad-half">white</div>
        <div i-area="silver pad-half">silver</div>
        <div i-area="charcoal pad-half">charcoal</div>
    </article>
</section>
