<section i-pad="medium-v">
    <header i-pad="medium-v">
        <h2><a name="toc-colors"></a>Colors</h2>
    </header>

    <article i-pad="medium-v">
        <div i-pad="half" i-area="amaranth">amaranth</div>
        <div i-pad="half" i-area="purple">purple</div>
        <div i-pad="half" i-area="violet">violet</div>
        <div i-pad="half" i-area="white">white</div>
        <div i-pad="half" i-area="silver">silver</div>
        <div i-pad="half" i-area="charcoal">charcoal</div>
    </article>
</section>
