<section i-area="pad-medium-v">
    <header i-area="pad-medium-v">
        <h2><a name="toc-complexExamples"></a>Complex examples</h2>
    </header>

    <article i-area="pad-medium-v">
        <div i-column="1/2" i-area="silver pad-medium">
            <div i-text="bold 200%" i-area="pad-half-v">
                <a href="/">Project title</a>
            </div>

            <a i-nakedButton i-area="pad-half-v" href="/">
                <svg i-icon="triple amaranth"><use xlink:href="#symbol-eyeball"></svg>
            </a>

            <section i-area="pad-half-v" i-text="75%">
                <span>First category</span>
                &bull;
                <span>2nd category</span>
                &bull;
                <span>Third category</span>
            </section>

            <div i-area="pad-half-v" i-text="75% light">{{ site.time }}</div>

            <div>Lorem ipsum dolor sit down, get up. Straight to the face.</div>
        </div>
    </article>
</section>
