<section i-area="medium-v">
    <header i-area="medium-v">
        <h2><a name="toc-images" href="#toc-toc">&uarr;</a> Images</h2>
    </header>

    <p>For including thumbnail-with–link-images there is a Node script that goes through <code>src/images</code>, copies original images and creates resized <code>_small</code> and <code>_small@2x</code> thumbnails. But the only thing you really need to know is:</p>

    <ol>
        <li>Run <code>npm run images:build</code></li>
        <li>Include <code>helpers/image</code> liquid template</li>
    </ol>

    <article i-area="medium-v">
        {% include helpers/image.liquid dir="aleksandra-waliszewska" filename="Untitled_1.jpg" %}
        {% include helpers/image.liquid dir="aleksandra-waliszewska" filename="Untitled_2.jpg" %}
        {% include helpers/image.liquid dir="dogs-of-titanic" filename="tree-of-david.png" title="Tree of David from Dogs of Titanic by KW" %}
    </article>
</section>
