<section i-pad="medium-v">
    <header i-pad="medium-v">
        <h2><a name="toc-madcss"></a>MADCSS philosophy</h2>
    </header>

    <p><strong>MADCSS</strong> stands for <strong>M</strong>odular <strong>A</strong>ttribute-<strong>D</strong>riven <strong>CSS</strong>. Yeah, sooo clever. Basic architecture is <del>based on</del> inspired by: <a href="https://amcss.github.io/">AMCSS</a>, <a href="https://github.com/colepeters/gemma">Gemma</a>, <a href="http://krasimir.github.io/organic-css/">Organic CSS</a>, <a href="http://demo.patternlab.io">Atomic Design</a> and <a href="http://tachyons.io/">Tachyons</a>.</p>

    <p>The base global prefix for all attribute modules is <code>i-</code>.</p>

    <h3><a name="toc-madcss-naming"></a>Naming things</h3>

    <p>Attribute names are defined in a simple fashion: attribute always starts with the global prefix, followed by module name. If it's a child, then it appends a single hyphen, followed by the child name. Note: you shouldn't go deeper than 2 levels: i.e. grandchildren and further are forbidden.</p>

    <pre><code>{{ "<globalPrefix>-<name>[-<childName>]" | escape }}</code></pre>

    <p>Modifiers are a space-separated strings, so basically you can use any character you want:</p>

    <pre><code>{{ '<div i-nietzsche="2/3 isDead +_- żółć 鸡汤">…</div>' | escape }}</code></pre>

    <p>And the you would write this in your <code>.css</code> file:</p>

<pre><code>/* nietzsche module */
[i-nietzsche] { &hellip; }
[i-nietzsche~="2/3"] { &hellip; }
[i-nietzsche~="isDead"] { &hellip; }
[i-nietzsche~="+_-"] { &hellip; }
[i-nietzsche~="żółć"] { &hellip; }
[i-nietzsche~="鸡汤"] { &hellip; }
</code></pre>

    <h3><a name="toc-madcss-architecture"></a>Architecture</h3>

    <p>There are not a lot of files. You will basically create new things in <code>modules/</code> directory and some global variables in -- wait for it -- <code>variables.css</code>!</p>

<pre><code>modules/
    nietzsche.css
setup/
    root.css
    states.css
    typography.css
main.css
variables.css
</code></pre>

    <p>As for variables, make sure that you define module own vars in the <code>:root {}</code> block on top of the file. If multiple modules use a variable, you should put in in global file. And the thing I am passionately crazy about: define new colors <strong>only</strong> inside <code>variables.css</code> -- this assures your design is not "50 shades of gray".</p>

    <p>The <code>setup/</code> dir contains some resets for the whole project and simple typography normalisations.</p>

    <p>Modules can be either structure- and layout-related selectors that do one, generic thing extremely well -- or a context-specific selectors for distinct components of an interface. Can be naturally mixed with each other -- as long as it makes sense of course. Try to avoid "Swiss Army knife" modules, as it will be hell to maintain them.</p>
</section>
