<article i-pad="double-v">
    <h2><a name="toc-modules"></a>Modules</h2>

    {% include contentSections/modules/area.html %}
    {% include contentSections/modules/button.html %}
    {% include contentSections/modules/column.html %}
    {% include contentSections/modules/hover.html %}
    {% include contentSections/modules/icon.html %}
    {% include contentSections/modules/pad.html %}
    {% include contentSections/modules/progressBar.html %}
    {% include contentSections/modules/section.html %}
    {% include contentSections/modules/table.html %}
    {% include contentSections/modules/text.html %}
</article>
