<section i-area="medium-v">
    <header i-area="medium-v">
        <h2><a name="toc-modules"></a>Modules</h2>
    </header>

    {% include contentSections/modules/area.html %}
    {% include contentSections/modules/button.html %}
    {% include contentSections/modules/column.html %}
    {% include contentSections/modules/icon.html %}
    {% include contentSections/modules/nakedLink.html %}
    {% include contentSections/modules/progressBar.html %}
    {% include contentSections/modules/table.html %}
    {% include contentSections/modules/text.html %}
</section>
