<article i-area="pad-medium-v">
    <header i-area="pad-medium-v">
        <h2><a name="toc-toc"></a>TOC</h2>
    </header>

    <ol>
        <li><a href="#toc-toc">You are here</a></li>
        <li>
            <a href="#toc-madcss">MADCSS philosophy</a>
            <ol>
                <li><a href="#toc-madcss-naming">Naming things</a></li>
                <li><a href="#toc-madcss-architecture">Architecture</a></li>
            </ol>
        </li>
        <li>
            <a href="#toc-modules">Modules</a>
            <ol>
                <li><a href="#toc-modules-area">area</a></li>
                <li><a href="#toc-modules-button">button</a></li>
                <li><a href="#toc-modules-column">column</a></li>
                <li><a href="#toc-modules-hover">hover</a></li>
                <li><a href="#toc-modules-icon">icon</a></li>
                <li><a href="#toc-modules-progressBar">progressBar</a></li>
                <li><a href="#toc-modules-table">table</a></li>
                <li><a href="#toc-modules-text">text</a></li>
            </ol>
        </li>
        <li><a href="#toc-typography">Typography</a></li>
        <li><a href="#toc-colors">Colors</a></li>
        <li><a href="#toc-complexExamples">Complex examples</a></li>
    </ol>
</article>
