//------------------------------------------------------------------------------
// underline
//------------------------------------------------------------------------------

@mixin underline($h, $c:currentColor, $hover-c:false) {
    background-position: 0 100%;
    background-size: 100% $h !important;
    background-repeat: repeat-x;
    @include background-image(
        linear-gradient(to right, $c, $c)
    );
    @if $hover-c {
        &:hover {
            @include background-image(
                linear-gradient(to right, $hover-c, $hover-c)
            );
        }
    }
}
