//------------------------------------------------------------------------------
// dropdowns config
//------------------------------------------------------------------------------

// dropdowns should contain buttons inside, so for dropdown items configuration
// go to html declarations and buttons module

// commons
$dropdown-min-w: 150px;
$dropdown-max-w: 300px;
$dropdown-triangle-h: 10px;

// default
$dropdown-default-txt-c: black;
$dropdown-default-bg-c: $c-silverLight;
$dropdown-default-sh:
    0 rem(3px) rem(5px) rgba(black, $f-small),
    0 rem(3px) rem(15px) rgba(black, $f-medium)
;
$dropdown-default-triangle-sh: rem(1px) rem(1px) rem(3px) rgba(black, $f-medium);
