//------------------------------------------------------------------------------
// dropdowns module
//------------------------------------------------------------------------------

/*
<div am-dropdown>
    <ul am-dropdown-list>
        <span am-dropdown-list-triangle><i></i></span>
        <li>FIRST OPTION</li>
        <li>SECOND OPTION</li>
    </ul>
    <button am-button>TRIGGER</button>
</div>
*/

@import "modules/dropdowns/config";

[am-dropdown] {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    &:hover { z-index: $z-2; }
    &:hover > [am-dropdown-list] {
        @include transition($d-faster);
        @include transition-timing-function(ease-out);
        visibility: visible;
        @include opacity(1);
    }
    > [am-dropdown-list] {
        @include transition($d-faster);
        @include transition-timing-function(ease-in);
        @include transition-delay($d-fast);
        visibility: hidden;
        @include opacity(0);
    }
    > [am-dropdown-list] {
        position: absolute;
        z-index: $z-1;
        list-style: none;
        margin: 0;
        padding: 0;
        min-width: rem($dropdown-min-w);
        max-width: rem($dropdown-max-w);
        width: auto;
        color: $dropdown-default-txt-c;
        background: $dropdown-default-bg-c;
        @include box-shadow($dropdown-default-sh);
        > li {
            width: 100%;
            overflow: hidden;
        }
        > [am-dropdown-list-triangle] {
            position: absolute;
            overflow: hidden;
            > i {
                @include box-sizing(border-box);
                position: absolute;
                z-index: $z-2;
                width: rem($dropdown-triangle-h);
                height: rem($dropdown-triangle-h);
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: rem($dropdown-triangle-h);
                    height: rem($dropdown-triangle-h);
                    background: $dropdown-default-bg-c;
                    @include box-shadow($dropdown-default-triangle-sh);
                    @include transform(rotate(45deg));
                }
            }
        }
    }
}

[am-dropdown~="north"],
[am-dropdown~="south"] {
    > [am-dropdown-list] {
        left: 0;
        > [am-dropdown-list-triangle] {
            left: 0;
            height: rem($dropdown-triangle-h);
            width: 100%;
            > i {
                left: rem($dropdown-triangle-h);
                @include transform(scaleX(0.75));
            }
            > i:before { left: 50%; }
        }
    }
}

[am-dropdown~="north"] {
    > [am-dropdown-list] {
        bottom: 100%;
        margin-bottom: rem($dropdown-triangle-h);
        margin-top: rem($space-medium); // for end-of-screen cases
        > [am-dropdown-list-triangle] {
            top: 100%;
            > i { bottom: 0; }
            > i:before { bottom: 50%; }
        }
    }
}

[am-dropdown~="south"] {
    > [am-dropdown-list] {
        top: 100%;
        margin-top: rem($dropdown-triangle-h);
        margin-bottom: rem($space-medium); // for end-of-screen cases
        > [am-dropdown-list-triangle] {
            bottom: 100%;
            > i { top: 0; }
            > i:before { top: 50%; }
        }
    }
}

[am-dropdown~="east"],
[am-dropdown~="west"] {
    > [am-dropdown-list] {
        top: 0;
        > [am-dropdown-list-triangle] {
            top: 0;
            height: 100%;
            width: rem($dropdown-triangle-h);
            > i {
                top: rem($dropdown-triangle-h);
                @include transform(scaleY(0.75));
            }
            > i:before { top: 50%; }
        }
    }
}

[am-dropdown~="east"] {
    > [am-dropdown-list] {
        margin-left: rem($dropdown-triangle-h);
        margin-right: rem($space-medium); // for end-of-screen cases
        left: 100%;
        > [am-dropdown-list-triangle] {
            right: 100%;
            > i { left: 0; }
            > i:before { left: 50%; }
        }
    }
}

[am-dropdown~="west"] {
    > [am-dropdown-list] {
        margin-right: rem($dropdown-triangle-h);
        margin-left: rem($space-medium); // for end-of-screen cases
        right: 100%;
        > [am-dropdown-list-triangle] {
            left: 100%;
            > i { right: 0; }
            > i:before { right: 50%; }
        }
    }
}
