//------------------------------------------------------------------------------
// lists module
//------------------------------------------------------------------------------

/*
    <ul am-list='padded'>
        <li>ONE</li>
        <li>TWO</li>
    </ul>
*/

[am-list] {
    list-style: none;
    margin: 0;
    padding: 0;
}

[am-list~='inline'] {
    display: inline-block;
    vertical-align: middle;
    & > li {
        display: inline-block;
        vertical-align: middle;
    }
}

[am-list~='spaced'] {
    & > li {
        padding: rem($w-small);
    }
}

[am-list~='padded'] {
    padding: rem($w-small);
}
