/*------------------------------------------------------------------------------
table config
------------------------------------------------------------------------------*/

:root {

    --table-cell-sh: 0 0 0 0.0625rem color( var(--c-silver) shade(20%) );
    --table-cell-bg: var(--c-white);
    --table-cell-bg-hover: color( var(--c-silver) tint(50%) );

}
