/*------------------------------------------------------------------------------
custom media queries and selectors
------------------------------------------------------------------------------*/

@custom-media --bigger (min-width: 1536px);
@custom-media --medium (min-width: 721px) and (max-width: 1535px);
@custom-media --smaller (max-width: 720px);

@custom-media --retina (min-resolution: 2dppx);

@custom-selector :--headers h1, h2, h3, h4;
@custom-selector :--textblocks h1, h2, h3, h4, p, ul, ol, blockquote, pre;
@custom-selector :--formelements button, input, select, textarea;
