h1, h2, h3, h4, h5, h6,
p, ol, ul, blockquote, hr,
article, section, header, footer, table {
    &:not(:first-child) {
        margin-top: 1.5rem;
    }
}
h1, h2, h3, h4 {
    line-height: 1;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-weight: 700;
}
blockquote {
    font-style: italic;
    cite {
        font-style: normal;
    }
}
ul, ol {
    margin-left: 1.5rem;
}
code {
    font-family: $code;
    font-size: 75%;
    background-color: rgba($black, 0.1);
    border: 0.0625rem solid rgba($black, 0.2);
    padding: 0 0.125rem;
    @include border-radius(0.25rem);
}
pre {
    code {
        display: block;
        width: 100%;
        overflow-x: auto;
        @include box-sizing(border-box);
        padding: 0.5rem;
    }
}
