//------------------------------------------------------------------------------
// base typographic rules
//------------------------------------------------------------------------------

html {
    font: 400 #{$rootFontSize}/$rootLineHeight $rootFontFamily;
    @media screen and (min-width: #{$break-bigger}) {
        font-size: $rootFontSize * 1.2;
    }
    @media screen and (max-width: #{$break-smaller}) {
        font-size: $rootFontSize * 0.8;
    }
}

h1, h2, h3, h4 {
    line-height: 1;
    margin: 0;
    padding-top: ($rootLineHeight - 1) * 0.5rem;
    padding-bottom: ($rootLineHeight - 1) * 0.5rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: inherit;
    font-weight: 700;
}

p {
    margin: 0;
}

blockquote {
    font-style: italic;
    cite {
        font-style: normal;
    }
}

ul, ol {
    margin-left: 1.5rem;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

small, sub, sup {
    font-size: $p-giant;
}

sub, sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}
