/*------------------------------------------------------------------------------
hover molecule
------------------------------------------------------------------------------*/

[i-hover]:not(:hover) [i-hover-item~='restore'],
[i-hover]:hover [i-hover-item~='remove'] {
    display: none;
}

[i-hover]:not(:hover) [i-hover-item~='show'],
[i-hover]:hover [i-hover-item~='hide'] {
    visibility: hidden;
    opacity: 0;
}

[i-hover-item~='animate'] {
    transition-duration: var(--a-t-faster);
}
