/*------------------------------------------------------------------------------
inlineblock molecule
------------------------------------------------------------------------------*/

[i-inlineblock] { display: inline-block; }
