/*------------------------------------------------------------------------------
icon component
------------------------------------------------------------------------------*/

@import "config.css";

[gui-c-icon] {
    display: inline-block;
    vertical-align: middle;

    height: var(--icon-s);
    width: var(--icon-s);

    shape-rendering: geometricPrecision;

    fill: currentColor;
    color: inherit;
}

/* bugfix for click target SVGElementInstance */

[gui-c-icon] > * { pointer-events: none; }

[gui-c-icon~="big"] {
    width: var(--icon-s-big);
    height: var(--icon-s-big);
}

[gui-c-icon~="silver"] { fill: var(--c-silver) }
