//------------------------------------------------------------------------------
// animations module
//------------------------------------------------------------------------------

// fade in once
@include keyframes(framesFadeIn) {
    0% { @include opacity(0); visibility: hidden; }
    100% { @include opacity(1); visibility: visible; }
}
@mixin fadeIn {
    @include opacity(0);
    @include animation(framesFadeIn $d-medium linear $d-faster 1 forwards);
}
[am-animation~='fadeIn'] {
    @include fadeIn();
}

// pulse loop
@include keyframes(framesPulse) {
    0% { @include scale(1); }
    30% { @include scale(1); }
    40% { @include scale(1.125); }
    50% { @include scale(1); }
    60% { @include scale(1.125); }
    70% { @include scale(1); }
    100% { @include scale(1); }
}
@mixin pulse {
    @include animation(framesPulse $d-slow ease-in 0 infinite);
}
[am-animation~='pulse'] {
    @include pulse;
}
