<header i-section="main">

    <h1>
        Boilerplate assets
        <a
            i-button="middle"
            href="https://github.com/smutnyleszek/boilerplate-assets"
        >
            github
        </a>
    </h1>

</header>
