<header i-pad="medium-v">
    <h1>
        Mad Skeleton
        <a i-button="middle" href="{{ site.sourceurl }}">github</a>
    </h1>

    <p>A small CSS boilerplate/wireframe for quick start with web project.</p>

    <ul>
        <li>pure <a href="https://docs.npmjs.com/cli/run-script">npm-scripts</a>-driven build</li>
        <li><a href="#toc-madcss">MADCSS</a></li>
        <li><a href="https://jekyllrb.com/">Jekyll</a></li>
        <li><a href="http://cssnext.io/">cssnext</a></li>
        <li>SVGs</li>
        <li>linting</li>
        <li>no JS yet</li>
    </ul>
</header>
