/*******************************************************************************
nakedlink module
*******************************************************************************/

[i-nakedlink] {
    cursor: pointer;
    text-decoration: none;
}

[i-nakedlink]:hover {
    opacity: 0.8;
    color: inherit;
}

[i-nakedlink]:active {
    opacity: 0.6;
    color: inherit;
}
