/*******************************************************************************
picture module
*******************************************************************************/

[i-picture] {
    display: inline-block;
    vertical-align: top;
}

[i-picture--caption] {
    font-style: italic;
}

[i-picture--link]:hover {
    opacity: 0.9;
}

[i-picture--link]:active {
    opacity: 0.8;
}

[i-picture--link],
[i-picture--image] {
    display: inline-block;
    vertical-align: bottom;
}

[i-picture--image] {
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

/*******************************************************************************
style broken images
*******************************************************************************/

[i-picture--image] {
    /* for alt text being too long */
    overflow-wrap: break-word;
    color: var(--c-root-bg);
    font-family: var(--font-monospace);
    font-weight: 300;
}

[i-picture--image]::before {
    content: "(x_x;)";
    float: right;
    margin-left: 0.5rem;
}

[i-picture--image]::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--c-root-txt);
}
