/* Remember to truncate the white space between columns! */

[i-column] {
    display: inline-block;
    width: 100%;
}

/* vertical aligning columns */

[i-column~="top"] {
    vertical-align: top;
}

[i-column~="middle"] {
    vertical-align: middle;
}

[i-column~="bottom"] {
    vertical-align: bottom;
}

/*******************************************************************************
columns themselves
*******************************************************************************/

[i-column~="1/2"] { width: calc(100% * 1 / 2); }
[i-column~="1/3"] { width: calc(100% * 1 / 3); }
[i-column~="2/3"] { width: calc(100% * 2 / 3); }
[i-column~="1/4"] { width: calc(100% * 1 / 4); }
[i-column~="3/4"] { width: calc(100% * 3 / 4); }

@media (--bigger) {
    [i-column~="b-1/2"] { width: calc(100% * 1 / 2); }
    [i-column~="b-1/3"] { width: calc(100% * 1 / 3); }
    [i-column~="b-2/3"] { width: calc(100% * 2 / 3); }
    [i-column~="b-1/4"] { width: calc(100% * 1 / 4); }
    [i-column~="b-3/4"] { width: calc(100% * 3 / 4); }
}

@media (--medium) {
    [i-column~="m-1/2"] { width: calc(100% * 1 / 2); }
    [i-column~="m-1/3"] { width: calc(100% * 1 / 3); }
    [i-column~="m-2/3"] { width: calc(100% * 2 / 3); }
    [i-column~="m-1/4"] { width: calc(100% * 1 / 4); }
    [i-column~="m-3/4"] { width: calc(100% * 3 / 4); }
}

@media (--smaller) {
    [i-column~="s-1/2"] { width: calc(100% * 1 / 2); }
    [i-column~="s-1/3"] { width: calc(100% * 1 / 3); }
    [i-column~="s-2/3"] { width: calc(100% * 2 / 3); }
    [i-column~="s-1/4"] { width: calc(100% * 1 / 4); }
    [i-column~="s-3/4"] { width: calc(100% * 3 / 4); }
}

/*******************************************************************************
space before column
*******************************************************************************/

[i-column-before~="1/2"] { margin-left: calc(100% * 1 / 2); }
[i-column-before~="1/3"] { margin-left: calc(100% * 1 / 3); }
[i-column-before~="2/3"] { margin-left: calc(100% * 2 / 3); }
[i-column-before~="1/4"] { margin-left: calc(100% * 1 / 4); }
[i-column-before~="3/4"] { margin-left: calc(100% * 3 / 4); }

@media (--bigger) {
    [i-column-before~="b-1/2"] { margin-left: calc(100% * 1 / 2); }
    [i-column-before~="b-1/3"] { margin-left: calc(100% * 1 / 3); }
    [i-column-before~="b-2/3"] { margin-left: calc(100% * 2 / 3); }
    [i-column-before~="b-1/4"] { margin-left: calc(100% * 1 / 4); }
    [i-column-before~="b-3/4"] { margin-left: calc(100% * 3 / 4); }
}

@media (--medium) {
    [i-column-before~="m-1/2"] { margin-left: calc(100% * 1 / 2); }
    [i-column-before~="m-1/3"] { margin-left: calc(100% * 1 / 3); }
    [i-column-before~="m-2/3"] { margin-left: calc(100% * 2 / 3); }
    [i-column-before~="m-1/4"] { margin-left: calc(100% * 1 / 4); }
    [i-column-before~="m-3/4"] { margin-left: calc(100% * 3 / 4); }
}

@media (--smaller) {
    [i-column-before~="s-1/2"] { margin-left: calc(100% * 1 / 2); }
    [i-column-before~="s-1/3"] { margin-left: calc(100% * 1 / 3); }
    [i-column-before~="s-2/3"] { margin-left: calc(100% * 2 / 3); }
    [i-column-before~="s-1/4"] { margin-left: calc(100% * 1 / 4); }
    [i-column-before~="s-3/4"] { margin-left: calc(100% * 3 / 4); }
}

/*******************************************************************************
space after column
*******************************************************************************/

[i-column-after~="1/2"] { margin-right: calc(100% * 1 / 2); }
[i-column-after~="1/3"] { margin-right: calc(100% * 1 / 3); }
[i-column-after~="2/3"] { margin-right: calc(100% * 2 / 3); }
[i-column-after~="1/4"] { margin-right: calc(100% * 1 / 4); }
[i-column-after~="3/4"] { margin-right: calc(100% * 3 / 4); }

@media (--bigger) {
    [i-column-after~="b-1/2"] { margin-right: calc(100% * 1 / 2); }
    [i-column-after~="b-1/3"] { margin-right: calc(100% * 1 / 3); }
    [i-column-after~="b-2/3"] { margin-right: calc(100% * 2 / 3); }
    [i-column-after~="b-1/4"] { margin-right: calc(100% * 1 / 4); }
    [i-column-after~="b-3/4"] { margin-right: calc(100% * 3 / 4); }
}

@media (--medium) {
    [i-column-after~="m-1/2"] { margin-right: calc(100% * 1 / 2); }
    [i-column-after~="m-1/3"] { margin-right: calc(100% * 1 / 3); }
    [i-column-after~="m-2/3"] { margin-right: calc(100% * 2 / 3); }
    [i-column-after~="m-1/4"] { margin-right: calc(100% * 1 / 4); }
    [i-column-after~="m-3/4"] { margin-right: calc(100% * 3 / 4); }
}

@media (--smaller) {
    [i-column-after~="s-1/2"] { margin-right: calc(100% * 1 / 2); }
    [i-column-after~="s-1/3"] { margin-right: calc(100% * 1 / 3); }
    [i-column-after~="s-2/3"] { margin-right: calc(100% * 2 / 3); }
    [i-column-after~="s-1/4"] { margin-right: calc(100% * 1 / 4); }
    [i-column-after~="s-3/4"] { margin-right: calc(100% * 3 / 4); }
}
