/*******************************************************************************
icon config
*******************************************************************************/

:root {
    --icon-s: var(--s-leading);
    --icon-s-big: calc(var(--s-leading) * 2);
}

[i-icon] {
    display: inline-block;
    vertical-align: bottom;
    width: var(--icon-s);
    height: var(--icon-s);
    color: inherit;
    shape-rendering: geometricPrecision;
    fill: currentColor;
}

/* bugfix for click target SVGElementInstance */
[i-icon] > * { pointer-events: none; }

[i-icon~="big"] {
    width: var(--icon-s-big);
    height: var(--icon-s-big);
}

[i-icon~="silver"] { fill: var(--c-silver); }

[i-icon~="middle"] { vertical-align: middle; }
