/*******************************************************************************
icon config
*******************************************************************************/

:root {
    --s-mad-skeleton-logo-w: 22.5rem; /* 360px */
    --s-mad-skeleton-logo-h: 15rem; /* 240px */
}

[i-icon] {
    display: inline-block;
    vertical-align: bottom;
    width: var(--s-leading);
    height: var(--s-leading);
    color: inherit;
    shape-rendering: geometricPrecision;
    fill: currentColor;
}

/* bugfix for click target SVGElementInstance */
[i-icon] > * { pointer-events: none; }

[i-icon~="middle"] { vertical-align: middle; }

/*******************************************************************************
icon sizes
*******************************************************************************/

[i-icon~="double"] {
    width: calc(var(--s-leading) * 2);
    height: calc(var(--s-leading) * 2);
}

[i-icon~="triple"] {
    width: calc(var(--s-leading) * 3);
    height: calc(var(--s-leading) * 3);
}

[i-icon~="madSkeletonLogo"] {
    width: var(--s-mad-skeleton-logo-w);
    height: var(--s-mad-skeleton-logo-h);
}

/*******************************************************************************
icon colors
*******************************************************************************/

[i-icon~="amaranth"] { fill: var(--c-amaranth); }
[i-icon~="purple"] { fill: var(--c-purple); }
[i-icon~="violet"] { fill: var(--c-violet); }
[i-icon~="white"] { fill: var(--c-white); }
[i-icon~="silver"] { fill: var(--c-silver); }

@keyframes crazyPulseAnimation {
    0% {
        filter: blur(0);
        fill: var(--c-violet);
    }

    50% {
        fill: var(--c-purple);
    }

    100% {
        filter: blur(calc(var(--s-leading) * 0.5));
        fill: var(--c-amaranth);
    }
}

[i-icon~="crazyPulseAnimatedOnHover"]:hover {
    animation-name: crazyPulseAnimation;
    animation-duration: 1s;
    animation-fill-mode: none;
    animation-delay: 0;
    animation-timing-function: ease-in;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
