/*******************************************************************************
nakedbutton module
*******************************************************************************/

[i-nakedbutton] {
    display: inline-block;
    cursor: pointer;
    background-image: none;
}

[i-nakedbutton]:not([disabled]):hover {
    opacity: 0.8;
}

[i-nakedbutton]:not([disabled]):active {
    opacity: 0.6;
}
