/*******************************************************************************
nakedButton module
*******************************************************************************/

[i-nakedButton] {
    display: inline-block;
    cursor: pointer;
    background-image: none;
}

[i-nakedButton]:not([disabled]):hover {
    opacity: 0.8;
    color: inherit;
}

[i-nakedButton]:not([disabled]):active {
    opacity: 0.6;
    color: inherit;
}
