/*******************************************************************************
pad module

There are no single-side modifiers (top, bottom, left and right), as we want to
keep the leading flow of the document pristine.

We also try to follow The LEGO Way of handling spacing of stuff:
http://alistapart.com/article/learning-from-lego-a-step-forward-in-modular-web-design
*******************************************************************************/

[i-pad~="medium"] { padding: var(--s-leading); }

[i-pad~="medium-v"] {
    padding-top: var(--s-leading);
    padding-bottom: var(--s-leading);
}

[i-pad~="medium-h"] {
    padding-left: var(--s-leading);
    padding-right: var(--s-leading);
}

[i-pad~="half"] { padding: calc(var(--s-leading) * 0.5); }

[i-pad~="half-v"] {
    padding-top: calc(var(--s-leading) * 0.5);
    padding-bottom: calc(var(--s-leading) * 0.5);
}

[i-pad~="half-h"] {
    padding-left: calc(var(--s-leading) * 0.5);
    padding-right: calc(var(--s-leading) * 0.5);
}

[i-pad~="double"] {
    padding: calc(var(--s-leading) * 2);
}

[i-pad~="double-v"] {
    padding-top: calc(var(--s-leading) * 2);
    padding-bottom: calc(var(--s-leading) * 2);
}

[i-pad~="double-h"] {
    padding-left: calc(var(--s-leading) * 2);
    padding-right: calc(var(--s-leading) * 2);
}
