/*******************************************************************************
pad molecule
*******************************************************************************/

[i-pad~='medium'] {
    padding: var(--leading-s);
}
[i-pad~='medium-v'] {
    padding-top: var(--leading-s);
    padding-bottom: var(--leading-s);
}
[i-pad~='medium-h'] {
    padding-left: var(--leading-s);
    padding-right: var(--leading-s);
}

[i-pad~='half'] {
    padding: calc( var(--leading-s) * 0.5 );
}
[i-pad~='half-v'] {
    padding-top: calc( var(--leading-s) * 0.5 );
    padding-bottom: calc( var(--leading-s) * 0.5 );
}
[i-pad~='half-h'] {
    padding-left: calc( var(--leading-s) * 0.5 );
    padding-right: calc( var(--leading-s) * 0.5 );
}

[i-pad~='double'] {
    padding: calc( var(--leading-s) * 2 );
}
[i-pad~='double-v'] {
    padding-top: calc( var(--leading-s) * 2 );
    padding-bottom: calc( var(--leading-s) * 2 );
}
[i-pad~='double-h'] {
    padding-left: calc( var(--leading-s) * 2 );
    padding-right: calc( var(--leading-s) * 2 );
}
