/*******************************************************************************
progressbar config
*******************************************************************************/

:root {

    --button-br: 0.125rem;

    --button-txt: var(--c-charcoal);
    --button-sh: 0 0.125rem 0 0 color( var(--c-silver) shade(15%) );
    --button-sh-hover: 0 0.125rem 0 0 color( var(--c-silver) shade(10%) );
    --button-sh-active: 0 0.125rem 0 0 color( var(--c-silver) shade(5%) );
    --button-bg: var(--c-silver);
    --button-bg-hover: color( var(--c-silver) tint(20%) );
    --button-bg-active: color( var(--c-silver) tint(30%) );

    --progressbar-br: 0.125rem;
    --progressbar-bg: var(--c-silver);
    --progressbar-indicator-bg: var(--c-charcoal);

    --progressbar-short-w: 10rem; /* 160px @ 16px */

    --progressbar-pending-s: 1rem;
    --progressbar-pending-gr: radial-gradient(
        circle 0.33rem,
        var(--c-white) 0%,
        var(--c-white) 50%,
        transparent 50%,
        transparent 100%
    );

}

/*******************************************************************************
progressbar module
*******************************************************************************/

[i-progressbar] {
    position: relative;
    overflow: hidden;

    width: 100%;

    height: calc(var(--s-leading) - 0.5rem);
    margin: 0.25rem 0;

    background-color: var(--progressbar-bg);

    border-radius: var(--progressbar-br);
}

[i-progressbar]:not(:last-child) { margin-bottom: var(--s-leading); }

[i-progressbar-indicator] {
    display: block;
    height: 100%;
    width: 0%;

    background-color: var(--progressbar-indicator-bg);
    border-radius: var(--progressbar-br);

    transition: 0.25s;
}

[i-progressbar~="short"] { max-width: var(--progressbar-short-w); }

@keyframes framesProgressPending {
    0% { background-position: calc( var(--progressbar-pending-s) * -1 ) 0; }
    100% { background-position: var(--progressbar-pending-s) 0; }
}

[i-progressbar~="is-pending"]:after {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 0.25;

    background-image: var(--progressbar-pending-gr);
    background-size: var(--progressbar-pending-s) 100%;
    background-repeat: repeat-x;

    animation-name: framesProgressPending;
    animation-duration: 0.75s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}
