/*******************************************************************************
section organism
*******************************************************************************/

[i-section]:not(:last-child) {
    margin-bottom: calc( var(--leading-s) * 2 );
}

[i-section~='main']:not(:last-child) {
    margin-bottom: calc( var(--leading-s) * 3 );
}
