/*******************************************************************************
table module
*******************************************************************************/

:root {
    --table-cell-sh: 0 0 0 0.0625rem color(var(--c-silver) shade(20%));
    --table-cell-bg: var(--c-white);
    --table-cell-bg-hover: color(var(--c-silver) tint(50%));
}

[i-table] {
    border-collapse: separate;
    border-spacing: 0;
}

[i-table]:not(:last-child),
[i-table] caption:not(:last-child) {
    margin-bottom: var(--s-leading);
}

[i-table] td,
[i-table] th {
    padding: calc(var(--s-leading) * 0.5);
    box-shadow: var(--table-cell-sh);
    background-color: var(--table-cell-bg);
    word-wrap: break-word;
}

[i-table] thead {
    font-weight: 700;
}

[i-table] caption {
    font-style: italic;
    text-align: center;
}

/*******************************************************************************
additional modifiers
*******************************************************************************/

[i-table~="hoverable"] tr:hover td {
    background-color: var(--table-cell-bg-hover);
    color: inherit;
}

[i-table~="fullwidth"] {
    table-layout: fixed;
    width: 100%;
}
