//------------------------------------------------------------------------------
// root stuff and normalizations
//------------------------------------------------------------------------------

html {
    font: $rootFontWeight #{$rootFontSize}/$rootLineHeight $rootFontFamily;
    @media screen and (min-width: #{$break-bigger}) {
        font-size: $rootFontSize * (1 + 0.125);
    }
    @media screen and (max-width: #{$break-smaller}) {
        font-size: $rootFontSize * (1 - 0.125);
    }
}

body { overflow: auto; }

a {
    &:not([am-button]) {
        color: inherit;
        text-decoration: none;
        // 0.125em = 2px @ 16px
        @include underline(0.125em, currentColor, transparent);
        &:visited,
        &:hover,
        &:active {
            color: inherit;
        }
    }
}

:focus {
    outline-color: $focus-outline-c;
    outline-style: auto;
    outline-width: 0.25rem;
}

::-moz-focus-inner { border: 0; }

::selection {
    color: $selection-txt-c;
    background-color: $selection-bg-c;
}

::-moz-selection {
    color: $selection-txt-c;
    background-color: $selection-bg-c;
}

[disabled] {
    pointer-events: none;
    @include opacity($input-disabled-o);
}

img, svg, embed, object, video { max-width: 100%; }

input, select, textarea, button {
    @include input-placeholder {
        font-size: inherit;
        line-height: $rootLineHeight;
        color: $input-placeholder-txt-c;
    }
}

code {
    font-family: $code-family;
    font-size: $p-giant;
    background-color: $code-bg-c;
    padding-left: 0.125rem;
    padding-right: 0.125rem;
    @include box-shadow($code-sh);
    @include border-radius($code-br);
}

pre {
    code {
        display: block;
        width: 100%;
        overflow-x: auto;
        @include box-sizing(border-box);
        padding: 0.5rem;
    }
}

hr {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: rem($hr-h);
    border: 0;
    background-color: $hr-bg-c;
}
