//------------------------------------------------------------------------------
// all base spacing pair-rules
//------------------------------------------------------------------------------

// vertical
article,
section,
header,
footer {
    &:not(:last-child) { margin-bottom: $rootLineHeight * 2rem; }
}
h1, h2, h3, h4,
p, ol, ul, blockquote, hr,
table, table > caption, figure, pre,
[am-progress]:not([am-progress~="inline"]) {
    &:not(:last-child) { margin-bottom: $rootLineHeight * 1rem; }
}

// horizontal
label,
[am-badge],
[am-box~="inline"],
[am-button]:not([am-button~="full"]),
[am-dropdown],
[am-checkbox],
[am-radio],
[am-icon],
[am-image],
[am-progress~="inline"],
[am-textBox] {
    &:not(:last-child) { margin-right: rem($space-little); }
}
