/*------------------------------------------------------------------------------
basics configuration
------------------------------------------------------------------------------*/

:root {

    /* base */

    --app-txt-c: var(--a-c-charcoal);
    --app-bg-c: var(--a-c-white);
    --app-content-w: 36rem; /* 576px @ 16px */

    /* root typography with font sizes for different screens scaling */

    --rootFontWeight: 400;
    --rootLineHeight: 1.5;
    --rootFontFamily: var(--a-font-sourceSansPro);
    --rootFontSize: 18px;
    --rootFontSizeSmaller: 16px;
    --rootFontSizeBigger: 20px;

    /* specific elements */

    --line-gr-w: 0.0625rem; /* 1px @ 16px */
    --line-gr-dotted-c:
        transparent 0%,
        transparent 50%,
        currentColor 50%,
        currentColor 100%
    ;
    --line-gr-solid-c: currentColor 0%, currentColor 0%;
    --line-gr: linear-gradient( to left, var(--line-gr-solid-c) );

    --focus-outline-c: var(--a-c-amaranth);
    --focus-outline-w: var(--a-s-tiny);

    --selection-txt-c: var(--a-c-white);
    --selection-bg-c: var(--a-c-amaranth);

    /* reusable stuff */

    --disabled-o: var(--a-f-big);
    --leading-s: calc( var(--rootLineHeight) * 1rem );

}
