/*------------------------------------------------------------------------------
sizing base layout parts
------------------------------------------------------------------------------*/

body {
    margin: 0;
    width: 100%;
    max-width: var(--app-content-w);
    padding: calc(var(--leading-s) * 2) var(--leading-s);
}
