/*------------------------------------------------------------------------------
sizing base layout parts
------------------------------------------------------------------------------*/

body {
    margin: 0;
    width: 100%;
    padding:
        calc(var(--rootLineHeight) * 2rem)
        calc(var(--rootLineHeight) * 1rem)
    ;
}
