/*------------------------------------------------------------------------------
base typographic rules
------------------------------------------------------------------------------*/

:--headers {
    line-height: 1;
    margin: 0;
    padding: 0;
}

h1 { font-size: 3rem; }

h2 { font-size: 2rem; }

h3 { font-size: 1.5rem; }

h4 {
    font-size: inherit;
    font-weight: 700;
}

p { margin: 0; }

ul, ol { margin-left: 1.5rem; }

ul { list-style-type: disc; }

ol { list-style-type: decimal; }

small, sub, sup { font-size: var(--p-giant); }

sub, sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup { top: -0.5em; }

sub { bottom: -0.25em; }

strong { font-weight: 700; }

em { font-style: italic; }

blockquote {
    font-style: italic;
    cite { font-style: normal; }
}

code { font-family: var(--family-monospace) }
