//------------------------------------------------------------------------------
// icons module
//------------------------------------------------------------------------------

/*
<svg am-icon="small"><use xlink:href="#icon-plus"/></svg>
*/

@import "modules/icons/config";

[am-icon] {
    display: inline-block;
    vertical-align: middle;
    height: rem($icon-default-w);
    width: rem($icon-default-w);
    fill: currentColor;
    shape-rendering: geometricPrecision;
    color: inherit;
    > * { pointer-events: none; } // bugfix for click target SVGElementInstance
}

[am-icon~="big"] {
    width: rem($icon-big-w);
    height: rem($icon-big-w);
}

[am-icon~="small"] {
    height: rem($icon-small-w);
    width: rem($icon-small-w);
}

[am-icon~="crimson"] { fill: $c-crimson; }

[am-icon~="spacer"] { width: 0 !important; }
