//------------------------------------------------------------------------------
// flexes module
//------------------------------------------------------------------------------

/*
    <div am-flexContainer='horizontal'>
        <div am-flexItem>STRETCHING</div>
        <div>OTHER</div>
    </div>
*/

[am-flexContainer] {
    display: flex;
    [am-flexItem] {
        flex: 1;
    }

}

[am-flexContainer~='vertical'] {
    flex-direction: column;
    &[am-flexContainer~='full'] {
        width: 100%;
    }
}

[am-flexContainer~='horizontal'] {
    flex-direction: row;
    &[am-flexContainer~='full'] {
        height: 100%;
    }
}

[am-flexContainer~='centered'] {
    align-items: center;
    [am-flexItem] {
        align-self: center;
    }
}
