/*------------------------------------------------------------------------------
common FUNCTIONAL variables (each module has own config file)
------------------------------------------------------------------------------*/

:root {

    /* base */

    --app-txt-c: var(--c-blackcurrant);
    --app-bg-c: var(--c-white);
    --app-content-w: 36rem; /* 576px @ 16px */

    /* root typography with font sizes for different screens scaling */

    --rootFontWeight: 400;
    --rootLineHeight: 1.5;
    --rootFontFamily: var(--family-sourceSansPro);
    --rootFontSize: 18px;
    --rootFontSizeSmaller: 16px;
    --rootFontSizeBigger: 20px;

    /* specific elements */

    --line-gr-w: 0.0625rem; /* 1px @ 16px */
    --line-gr-dotted-c:
        transparent 0%,
        transparent 50%,
        currentColor 50%,
        currentColor 100%
    ;
    --line-gr-solid-c: currentColor 0%, currentColor 0%;
    --line-gr: linear-gradient( to left, var(--line-gr-solid-c) );

    --focus-outline-c: var(--c-amaranth);
    --focus-outline-w: 0.25rem; /* 4px @ 16px */

    --selection-txt-c: var(--c-white);
    --selection-bg-c: var(--c-amaranth);

    --disabled-o: var(--f-big);

}
