//------------------------------------------------------------------------------
// images config
//------------------------------------------------------------------------------

// default
$image-empty-bg-c: rgba($c-silver, $f-medium);

// sizes
$image-small-w: 160px;
$image-small-h: 80px;
$image-big-w: 640px;
$image-big-h: 480px;
