//------------------------------------------------------------------------------
// images config
//------------------------------------------------------------------------------

// default
$image-empty-bg-c: rgba($c-silver, $f-medium);

// sizes
$image-small-w: rem(128px);
$image-small-h: rem(64px);
