<section i-section>

    <h3>button</h3>

    <p>
        <code>&lt;div i-button&gt;...&lt;/div&gt;</code>
    </p>

    <p>
        A simple button component with sizes, <em>hover</em>, <em>active</em> and <em>disabled</em> states.
    </p>

    <button i-button>default</button>

    <button i-button disabled>disabled</button>

    <button i-button="full">full width</button>

    <button i-button="double">a double sized</button>

    <button i-button="triple">a triple sized</button>

</section>
