<section i-section>

    <h3>hover</h3>

    <p>
<pre><code>&lt;div i-hover&gt;
&lt;div i-hover-item="show"&gt;...&lt;/div&gt;
&lt;/div&gt;</code></pre>
    </p>

    <p>Hover uses a container-reference element for triggering changes on <code>i-hover-item</code> element. Take caution when nesting.</p>

    <div
        i-hover
        i-area="silver"
        i-pad="medium-v"
        i-inlineblock
    >
        <strong>show me</strong>
        <span i-hover-item="show">this</span>
    </div>

    <div
        i-hover
        i-area="charcoal"
        i-pad="medium-v"
        i-inlineblock
    >
        <strong>hide me</strong>
        <span i-hover-item="hide">this</span>
    </div>

    <div
        i-hover
        i-area="silver"
        i-pad="medium-v"
        i-inlineblock
    >
        <strong>restore me</strong>
        <span i-hover-item="restore">this</span>
    </div>

    <div
        i-hover
        i-area="charcoal"
        i-pad="medium-v"
        i-inlineblock
    >
        <strong>remove me</strong>
        <span i-hover-item="remove">this</span>
    </div>

</section>
