<section i-section>

    <h3>image</h3>

    <p>
        <code>&lt;figure i-image="small medievalbloodandgore"&gt;&lt;/figure&gt;</code>
    </p>

    <p>
        For creating a fixed-size image based on unknown-size sources. Supports retina media queries. Images resides in <code>_assets/images/namespace/file.jpg</code> and then go through <a href="https://github.com/andismith/grunt-responsive-images">grunt-responsive-images</a>. You should define them in <code>image/library.css</code> partial file.
    </p>

    <figure i-image="small medievalbloodandgore"></figure>

</section>
