<section i-section>

    <h3>section</h3>

    <p>
        Section separates content vertically. It only adds margins when necessary (none for last children).
    </p>

    <div i-section i-area="charcoal">
        <div i-section i-area="silver" i-pad="half">
            <h4>A basic section</h4>
            <p>Lorem ipsum dear sir or madam.</p>
        </div>
        <div i-section="main" i-area="silver" i-pad="half">
            <h4>The main section</h4>
            <p>Lorem ipsum dear sir or madam.</p>
        </div>
        <div i-section i-area="silver" i-pad="half">
            <h4>A basic section</h4>
            <p>Lorem ipsum dear sir or madam.</p>
        </div>
        <div i-section i-area="silver" i-pad="half">
            <h4>A basic section</h4>
            <p>Lorem ipsum dear sir or madam.</p>
        </div>
    </div>

</section>
