/*----------------------------------------------------------------------------*\
    progresses config
\*----------------------------------------------------------------------------*/

// common
$progress-h: 0.5rem;
$progress-br: $progress-h * 0.5;
$progress-indicator-w: $progress-h;

// default
$progress-bg-c: rgba($c-black, $f-medium);
$progress-indicator-bg-c: $c-black;
