//------------------------------------------------------------------------------
// progresses module
//------------------------------------------------------------------------------

/*
    <div am-progress='inline'>
        <span style='width: 50%;'></span>
    </div>
*/

@import 'modules/progresses/config';

[am-progress] {
    width: 100%;
    height: $progress-h;
    background-color: $progress-default-bg-c;
    @include border-radius($progress-br);
    span {
        display: block;
        height: 100%;
        min-width: $progress-indicator-min-w;
        width: 0%;
        background-color: $progress-default-indicator-bg-c;
        @include border-radius($progress-br);
        @include transition($d-fast);
    }
}

[am-progress~='inline'] {
    display: inline-block;
    vertical-align: middle;
    width: $progress-inline-w;
}
