//------------------------------------------------------------------------------
// icons module
//------------------------------------------------------------------------------

/*
    <svg am-icon='small'><use xlink:href='#icon-plus'/></svg>
*/

@import 'modules/icons/config';

[am-icon] {
    display: inline-block;
    vertical-align: middle;
    height: rem($w-large);
    width: rem($w-large);
    fill: currentColor;
    shape-rendering: geometricPrecision;
    color: inherit;
}

[am-icon~='lefted'] {
    float: left;
    margin-left: 0;
    margin-right: $space-small;
}

[am-icon~='righted'] {
    float: right;
    margin-right: 0;
    margin-left: $space-small;
}

[am-icon~='big'] {
    width: rem($w-big);
    height: rem($w-big);
}

[am-icon~='small'] {
    height: rem($w-small);
    width: rem($w-small);
}

[am-icon~='crimson'] {
    fill: $c-crimson;
}
