// positioning shorthand
// @include absolute(top 10px right 30px);
@mixin position($position, $args) {
    // look for these offsets
    $offsets: top right bottom left;
    @each $offset in $offsets {
        // check if offset found in $args
        $i: index($args, $offset);
        // check if offset was found, is withing list range and value is valid
        @if $i
        and $i + 1 <= length($args)
        and type-of( nth($args, $i + 1) ) == number {
            // assign value to offset
            #{$offset}: nth($args, $i + 1);
        }
    }
    position: $position;
}
@mixin absolute($args) {
    @include position(absolute, $args);
}
@mixin fixed($args) {
    @include position(fixed, $args);
}

// for cross-browser styling of placeholders
@mixin input-placeholder {
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}

// gradient shorthands for my bad memory
@mixin gradientVertical($colorTop, $colorBottom) {
    @include background-image(linear-gradient(180deg, $colorTop, $colorBottom));
}
@mixin gradientHorizontal($colorLeft, $colorRight) {
    @include background-image(linear-gradient(90deg, $colorLeft, $colorRight));
}

// keyframes and animation mixin
@mixin keyframes ($name) {
    @-webkit-keyframes #{$name} { @content; }
    @-moz-keyframes #{$name} { @content; }
    @-o-keyframes #{$name} { @content; }
    @-ms-keyframes #{$name} { @content; }
    @keyframes #{$name} { @content; }
}
@mixin animation ($name, $duration, $delay, $iteration, $timing, $fillMode, $direction) {
    // Webkit
    -webkit-animation-name: $name;
    -webkit-animation-duration: $duration;
    -webkit-animation-delay: $delay;
    -webkit-animation-iteration-count: $iteration;
    -webkit-animation-timing-function: $timing;
    -webkit-animation-fill-mode: $fillMode;
    -webkit-animation-direction: $direction;
    // Mozilla
    -moz-animation-name: $name;
    -moz-animation-duration: $duration;
    -moz-animation-delay: $delay;
    -moz-animation-iteration-count: $iteration;
    -moz-animation-timing-function: $timing;
    -moz-animation-fill-mode: $fillMode;
    -moz-animation-direction: $direction;
    // Opera
    -o-animation-name: $name;
    -o-animation-duration: $duration;
    -o-animation-delay: $delay;
    -o-animation-iteration-count: $iteration;
    -o-animation-timing-function: $timing;
    -o-animation-fill-mode: $fillMode;
    -o-animation-direction: $direction;
    // IE
    -ms-animation-name: $name;
    -ms-animation-duration: $duration;
    -ms-animation-delay: $delay;
    -ms-animation-iteration-count: $iteration;
    -ms-animation-timing-function: $timing;
    -ms-animation-fill-mode: $fillMode;
    -ms-animation-direction: $direction;
    // Future
    animation-name: $name;
    animation-duration: $duration;
    animation-delay: $delay;
    animation-iteration-count: $iteration;
    animation-timing-function: $timing;
    animation-fill-mode: $fillMode;
    animation-direction: $direction;
}
