//------------------------------------------------------------------------------
// dropdowns config
//------------------------------------------------------------------------------

// dropdowns should contain buttons inside, so for dropdown items configuration
// go to html declarations and buttons module

// commons
$dropdown-min-w: 150px;
$dropdown-max-w: 400px;

// default
$dropdown-default-txt-c: $c-black;
$dropdown-default-bg-c: $c-silverLight;
$dropdown-default-border-c: rgba($c-black, $f-small);
$dropdown-default-sh: 0 3px 5px rgba($c-black, $f-small), 0 3px 15px rgba($c-black, $f-medium);
$dropdown-default-triangle-sh: 1px 1px 3px rgba($c-black, $f-medium);
