//------------------------------------------------------------------------------
// header layout
//------------------------------------------------------------------------------

#appHeader {
    max-width: rem($app-content-w);
    margin-left: auto;
    margin-right: auto;
}
