//------------------------------------------------------------------------------
// boxes module
//------------------------------------------------------------------------------

/*
    <div am-box="padded black"></div>
*/

@import "modules/boxes/config";

[am-box] { @include box-sizing(border-box); }

[am-box~="inline"] {
    display: inline-block;
    vertical-align: middle;
}

// for defining new padded options
@mixin boxPadded($name, $spacing) {
    [am-box~="padded#{$name}"] { padding: $spacing; }
    [am-box~="padded#{$name}H"] { padding-left: $spacing; padding-right: $spacing; }
    [am-box~="padded#{$name}V"] { padding-top: $spacing; padding-bottom: $spacing; }
    [am-box~="padded#{$name}T"] { padding-top: $spacing; }
    [am-box~="padded#{$name}R"] { padding-right: $spacing; }
    [am-box~="padded#{$name}B"] { padding-bottom: $spacing; }
    [am-box~="padded#{$name}L"] { padding-left: $spacing; }
}

@include boxPadded('Large', rem($space-large));
@include boxPadded('', rem($space-medium)); // default padded modifier
@include boxPadded('Small', rem($space-small));

[am-box~="black"] {
    color: $box-black-txt-c;
    background-color: $box-black-bg-c;
}

[am-box~="crimson"] {
    color: $box-crimson-txt-c;
    background-color: $box-crimson-bg-c;
}

[am-box~="silver"] {
    color: $box-silver-txt-c;
    background-color: $box-silver-bg-c;
}
