//------------------------------------------------------------------------------
// boxes config
//------------------------------------------------------------------------------

// black
$box-black-txt-c: $c-white;
$box-black-bg-c: $c-black;

// crimson
$box-crimson-txt-c: $c-white;
$box-crimson-bg-c: $c-crimson;

// silver
$box-silver-txt-c: inherit;
$box-silver-bg-c: $c-silver;
