//------------------------------------------------------------------------------
// progresses config
//------------------------------------------------------------------------------

// common
$progress-h: $w-small;
$progress-br: $w-small * 0.5;
$progress-indicator-min-w: $progress-h;

// default
$progress-default-bg-c: rgba(black, $f-medium);
$progress-default-indicator-bg-c: black;

// inline
$progress-inline-w: 160px;
