//------------------------------------------------------------------------------
// progresses module
//------------------------------------------------------------------------------

/*
<div am-progress="inline">
    <span style="width: 50%;"></span>
</div>
*/

@import "modules/progresses/config";

[am-progress] {
    width: 100%;
    height: rem($progress-h);
    overflow: hidden;
    background-color: $progress-default-bg-c;
    @include border-radius(rem($progress-br));
    display: inline-block;
    vertical-align: middle;
    position: relative;
    span {
        display: block;
        height: 100%;
        width: 0%;
        background-color: $progress-default-indicator-bg-c;
        @include border-radius(rem($progress-br));
        @include transition($d-fast);
    }
}

[am-progress~="inline"] { max-width: rem($progress-inline-w); }

[am-progress~="pending"] {
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: $z-1;
        width: 100%;
        height: rem($progress-h);
        @include background-image($progress-pending-gr);
        background-size:
            rem($progress-pending-after-w)
            rem($progress-pending-after-w)
        ;
        @include keyframes(framesProgressPending) {
            0% { background-position: 0 0; }
            100% { background-position: rem($progress-pending-after-w) 0; }
        }
        @include animation(framesProgressPending $d-fast linear 0s infinite);
    }
}
