//------------------------------------------------------------------------------
// progresses module
//------------------------------------------------------------------------------

/*
<div am-progress="inline">
    <span style="width: 50%;"></span>
</div>
*/

@import "modules/progresses/config";

[am-progress] {
    width: 100%;
    height: rem($progress-h);
    overflow: hidden;
    background-color: $progress-default-bg-c;
    @include border-radius(rem($progress-br));
    display: inline-block;
    vertical-align: middle;
    span {
        display: block;
        height: 100%;
        width: 0%;
        background-color: $progress-default-indicator-bg-c;
        @include border-radius(rem($progress-br));
        @include transition($d-fast);
    }
}

[am-progress~="inline"] { max-width: rem($progress-inline-w); }
