/*------------------------------------------------------------------------------
button config
------------------------------------------------------------------------------*/

:root {

    --button-br: 0.125rem;

    --button-txt: var(--c-charcoal);
    --button-fontsize: 0.75rem;
    --button-padding: var(--w-little);
    --button-sh: 0 0.125rem 0 0 color( var(--c-silver) shade(15%) );
    --button-sh-hover: 0 0.125rem 0 0 color( var(--c-silver) shade(10%) );
    --button-sh-active: 0 0.125rem 0 0 color( var(--c-silver) shade(5%) );
    --button-bg: var(--c-silver);
    --button-bg-hover: color( var(--c-silver) tint(20%) );
    --button-bg-active: color( var(--c-silver) tint(30%) );

}
