//--------------------------------------------------------------------------------------------------
// badges module
//--------------------------------------------------------------------------------------------------

/*
<i am-badge></i>
<i am-badge="counter stacked crimson">5</i>
*/

@import "modules/badges/config";

[am-badge] {
    display: inline-block;
    color: $badge-default-txt-c;
    background-color: $badge-default-bg-c;
    @include border-radius($badge-default-br);
    text-align: center;
    font-size: inherit;
    font-weight: 700;
    line-height: 1;
    padding: $space-tiny ($space-tiny + 1);
}

[am-badge~="counter"] {
    @include border-radius($badge-counter-br);
    @include box-sizing(border-box);
    min-width: $badge-counter-min-w;
    min-height: $badge-counter-min-w;
    line-height: $badge-counter-min-w;
    font-size: 0.666rem;
    padding: 0 $space-tiny;
    @include badge-counter-pulse;
}

[am-badge~="dot"] {
    vertical-align: middle;
    @include border-radius(50%);
    width: $badge-dot-w;
    height: $badge-dot-w;
    padding: 0;
}

[am-badge~="stacked"] {
    position: absolute;
    z-index: $z-1;
    top: -0.25rem;
    right: -0.25rem;
    margin: 0 !important;
}

[am-badge~="crimson"] { background-color: $badge-crimson-bg-c; }
