//------------------------------------------------------------------------------
// badges module
//------------------------------------------------------------------------------

/*
<i am-badge></i>
<i am-badge="counter stacked crimson">5</i>
*/

@import "modules/badges/config";

[am-badge] {
    display: inline-block;
    vertical-align: middle;
    color: $badge-default-txt-c;
    background-color: $badge-default-bg-c;
    @include border-radius(rem($badge-default-br));
    text-align: center;
    font-size: $p-giant;
    font-weight: 700;
    line-height: 1;
    padding: rem($space-tiny) rem($space-little);
}

[am-badge~="counter"] {
    @include border-radius(rem($badge-counter-br));
    @include box-sizing(border-box);
    min-width: rem($badge-counter-min-w);
    height: rem($badge-counter-min-w);
    line-height: rem($badge-counter-min-w);
    padding: 0 rem($space-tiny);
    @include badge-counter-pulse;
}

[am-badge~="dot"] {
    @include border-radius(50%);
    width: rem($badge-dot-w);
    height: rem($badge-dot-w);
    padding: 0;
}

[am-badge~="stacked"] {
    position: absolute;
    z-index: $z-1;
    top: -0.25rem;
    right: -0.25rem;
    margin: 0 !important;
}

[am-badge~="crimson"] { background-color: $badge-crimson-bg-c; }
