//------------------------------------------------------------------------------
// boxes module
//------------------------------------------------------------------------------

/*
<div am-box="padded black"></div>
*/

@import "modules/boxes/config";

[am-box] { @include box-sizing(border-box); }

[am-box~="inline"] {
    display: inline-block;
    vertical-align: middle;
}

// for defining new padded options
@mixin boxPadded($name, $spacing) {
    [am-box~="padded#{$name}"] { padding: $spacing; }
    [am-box~="padded#{$name}H"] { padding-left: $spacing; padding-right: $spacing; }
    [am-box~="padded#{$name}V"] { padding-top: $spacing; padding-bottom: $spacing; }
    [am-box~="padded#{$name}T"] { padding-top: $spacing; }
    [am-box~="padded#{$name}R"] { padding-right: $spacing; }
    [am-box~="padded#{$name}B"] { padding-bottom: $spacing; }
    [am-box~="padded#{$name}L"] { padding-left: $spacing; }
}

@include boxPadded('Big', rem($space-big));
@include boxPadded('', rem($space-medium)); // default padded modifier
@include boxPadded('Small', rem($space-small));

@mixin boxColored($label, $txt, $bg) {
    [am-box~="#{$label}"] {
        color: $txt;
        background-color: $bg;
    }
}

@include boxColored('black', white, black);
@include boxColored('crimson', white, $c-crimson);
@include boxColored('crimsonLight', white, $c-crimsonLight);
@include boxColored('crimsonLighter', white, $c-crimsonLighter);
@include boxColored('crimsonDark', white, $c-crimsonDark);
@include boxColored('charcoal', white, $c-charcoal);
@include boxColored('charcoalLight', white, $c-charcoalLight);
@include boxColored('charcoalDark', white, $c-charcoalDark);
@include boxColored('silver', $app-txt-c, $c-silver);
@include boxColored('silverLight', $app-txt-c, $c-silverLight);
@include boxColored('silverLighter', $app-txt-c, $c-silverLighter);
@include boxColored('silverDark', $app-txt-c, $c-silverDark);
