//------------------------------------------------------------------------------
// config collector
//------------------------------------------------------------------------------

@import 'config/resets';
@import 'config/fonts';
@import 'config/variables/descriptive';
@import 'config/variables/functional';
@import 'config/helpers';

/*
    naming convention for abbreviations:

    c - color
    d - duration
    f - fraction
    h - height
    o - opacity
    p - percent
    w - width
    z - z-index

    txt - text
    bg - background
    sh - shadow
    br - border radius

    single-letter abbreviations should always be on the end
*/
