//------------------------------------------------------------------------------
// universal modules collector
//------------------------------------------------------------------------------

@import 'modules/animations/module';
@import 'modules/boxes/module';
@import 'modules/buttons/module';
@import 'modules/checkboxes/module';
@import 'modules/columns/module';
@import 'modules/clearfixes/module';
@import 'modules/flexes/module';
@import 'modules/icons/module';
@import 'modules/images/module';
@import 'modules/lists/module';
@import 'modules/progresses/module';
@import 'modules/radios/module';
@import 'modules/tables/module';
@import 'modules/textBoxes/module';
@import 'modules/texts/module';
