//------------------------------------------------------------------------------
// tables module
//------------------------------------------------------------------------------

@import "modules/tables/config";

[am-table] {
    td, th {
        border: rem(1px) solid $table-border-c;
        padding: rem($w-small);
        min-width: rem($table-cell-min-w);
        max-width: rem($table-cell-max-w);
    }
    th { background-color: $table-header-bg-c; }
    tr {
        &:hover { background-color: $table-row-bg-hover-c; }
    }
    thead tr td { font-weight: 700; }
    tfoot tr {
        &:first-child { border-top: rem(2px) solid $table-border-c; }
    }
}
