/*******************************************************************************
user-action influenced states
*******************************************************************************/

/* links */

a {
    color: inherit;
    text-decoration: underline;
}

a:visited { color: inherit; }

a:hover { color: var(--c-amaranth); }

a:active { color: var(--c-purple); }

/* text selection */

:focus {
    outline-color: var(--c-root-focus);
    outline-style: solid;
    outline-width: 0.125rem;
    background-color: var(--c-root-focus);
}

:focus svg {
    background-color: var(--c-root-focus);
}

::-moz-focus-inner { border: 0; }

::selection {
    background-color: var(--c-amaranth);
    color: var(--c-white);
}

/* disabled elements */

[disabled] {
    pointer-events: none;
    opacity: 0.5;

    /* avoid adding up opacity on nested disabled elements */
    [disabled] { opacity: 1; }
}
