/*******************************************************************************
base typographic rules
*******************************************************************************/

:root {
    --s-code-safeSpace: 0.125rem;
}

:--headers {
    margin: 0;
    padding: 0;
    line-height: 1;
}

:--textblocks:not(:last-child) {
    margin-top: 0;
    margin-bottom: var(--s-leading);
}

h1 { font-size: 3rem; }

h2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 2rem;
}

h3 { font-size: 1.5rem; }

h4 {
    font-size: inherit;
    font-weight: 700;
}

p,
pre {
    margin: 0;
}

ul,
ol {
    margin-left: var(--s-leading);
    padding: 0;
}

ul { list-style-type: disc; }

ol { list-style-type: decimal; }

small,
sub,
sup {
    font-size: 75%;
}

sub,
sup {
    vertical-align: baseline;
    position: relative;
    line-height: 0;
}

sup { top: -0.5em; }

sub { bottom: -0.25em; }

strong { font-weight: 700; }

em { font-style: italic; }

blockquote {
    margin-left: 0;
    margin-right: 0;
    padding-left: var(--s-leading);
    box-shadow: inset 0.25rem 0 0 0 var(--c-silver);
    font-style: italic;
}

blockquote cite::before {
    content: "\2014";
    display: inline-block;
    margin-right: 0.25rem;
}

code,
pre {
    font-family: var(--font-monospace);
}

/* line-height-margin trick for when two of those meet on neighbour lines */
code {
    display: inline-block;
    vertical-align: bottom;
    margin-top: var(--s-code-safeSpace);
    margin-bottom: var(--s-code-safeSpace);
    border-radius: var(--s-global-br);
    padding-left: var(--s-code-safeSpace);
    padding-right: var(--s-code-safeSpace);
    background-color: var(--c-silver);
    color: var(--c-charcoal);
    font-size: 0.75rem;
    line-height: calc(var(--s-leading) - calc(var(--s-code-safeSpace) * 2));
}

/* bigger blocks - reset line-height-margin trick for multiline */
pre code {
    display: block;
    overflow: auto;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 100%;
    line-height: var(--s-leading);
}

/* form elements */
:--formelements {
    color: inherit;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
}
