//------------------------------------------------------------------------------
// all DESCRIPTIVE variables (colors, sizes, etc.)
//------------------------------------------------------------------------------

// colors
$c-black: black;
$c-white: white;
$c-crimson: hsl(350, 90%, 50%);
$c-crimsonLight: hsl(350, 100%, 60%);
$c-crimsonLighter: hsl(350, 100%, 70%);
$c-crimsonDark: hsl(350, 90%, 45%);
$c-silver: hsl(0, 0%, 80%);
$c-silverLight: hsl(0, 0%, 85%);
$c-silverLighter: hsl(0, 0%, 90%);
$c-silverDark: hsl(0, 0%, 75%);

// font families
$family-sourceSansPro: 'Source Sans Pro', sans-serif;
$family-sourceCodePro: 'Source Code Pro', monospace;

// fractions
$f-giant: 0.75;
$f-big: 0.50;
$f-medium: 0.25;
$f-small: 0.125;
$f-tiny: 0.05;

// percents
$p-giant: $f-giant * 100%;
$p-big: $f-big * 100%;
$p-medium: $f-medium * 100%;
$p-small: $f-small * 100%;
$p-tiny: $f-tiny * 100%;

// durations
$d-slower: 1s;
$d-slow: 0.75s;
$d-medium: 0.5s;
$d-fast: 0.25s;
$d-faster: 0.125s;

// widths
$w-colossal: 80px; // 5rem
$w-huge: 64px; // 4rem
$w-giant: 40px; // 2.5rem
$w-big: 32px; // 2rem
$w-large: 20px; // 1.25rem
$w-medium: 16px; // 1rem
$w-small: 10px; // 0.625rem
$w-little: 8px; // 0.5rem
$w-tiny: 5px; // 0.3125rem

// z-indexes
$z-negative: -1;
$z-1: 10;
$z-2: 20;
$z-3: 30;
$z-4: 40;
$z-5: 50;
$z-6: 60;
$z-7: 70;
$z-8: 80;
$z-9: 90;
$z-10: 100;
