//------------------------------------------------------------------------------
// tables config
//------------------------------------------------------------------------------

// default
$table-border-c: $c-silverDark;
$table-header-bg-c: $c-silverLight;
$table-row-bg-hover-c: $c-silverLighter;
