// tables module

@import "modules/tables/config";

[am-table] {
    td, th {
        border: 0.0625rem solid $table-border-c;
        padding: 0.5rem;
        min-width: 4rem;
        max-width: 25rem;
    }
    th {
        background-color: $table-header-bg-c;
    }
    tr {
        &:hover {
            background-color: $table-row-bg-hover-c;
        }
    }
    thead {
        tr {
            td {
                font-weight: 700;
            }
        }
    }
    tbody {
        tr {
            td {
                //
            }
        }
    }
    tfoot {
        tr {
            &:first-child {
                border-top: 0.25rem solid $table-border-c;
            }
            td {
                //
            }
        }
    }
}
