/*------------------------------------------------------------------------------
table component
------------------------------------------------------------------------------*/

@import "config.css";

[gui-c-table] {
    border-collapse: separate;
    border-spacing: 0;
}

[gui-c-table]:not(:last-child),
[gui-c-table] caption:not(:last-child) { 
    margin-bottom: var(--leading-s);
}

[gui-c-table] td,
[gui-c-table] th {
    padding: calc( var(--leading-s) * 0.5 );
    box-shadow: var(--table-cell-sh);

    background-color: var(--table-cell-bg);
}

[gui-c-table] thead { font-weight: 700; }

[gui-c-table] caption {
    text-align: center;
    font-style: italic;
}

[gui-c-table~="hoverable"] tr:hover td {
    background-color: var(--table-cell-bg-hover);
}

[gui-c-table~="full"] { width: 100%; }
