//------------------------------------------------------------------------------
// rems for the win
//------------------------------------------------------------------------------

// strip units from value
@function parseInt($n) {
    @return $n / ($n * 0 + 1);
}

// converter to rem value
// uses $rootFontSize
@function rem($value) {
    $root: parseInt($rootFontSize);
    $val: parseInt($value);
    $return: ();
    @if unit($value) == 'px' {
        $return: append($return, ($val / $root + rem));
    } @else {
        $return: append($return, ($val * $root + px));
    }
    @return $return;
}
