[am-button] {
    cursor: pointer;
    display: inline-block;
    color: $black;
    background-color: $silver;
    font-size: 1rem;
    line-height: 1;
    padding: 0.5rem 0.75rem;
    text-decoration: none;
    border: 0;
    border-bottom-width: 0.175rem;
    border-style: solid;
    border-color: shade($silver, 20);
    @include border-radius(0 0 0.175rem 0.175rem);
    &[disabled] {
        @include opacity(0.333);
    }
    &:not([disabled]):hover {
        background-color: tint($silver, 20);
        border-color: shade($silver, 10);
    }
    &:active {
        background-color: tint($silver, 40);
        border-color: shade($silver, 20);
        margin-top: 0.175rem;
        border-bottom-width: 0;
        @include border-radius(0);
    }
    &:not([disabled]):active {
        background-color: tint($silver, 40);
        border-color: shade($silver, 10);
    }
    [am-icon] {
        vertical-align: middle;
        & + * {
            margin-left: rem(20px);
            display: inline-block;
            vertical-align: middle;
        }
    }
}
[am-button~="important"] {
    color: $white;
    background-color: $crimson;
    border-color: shade($crimson, 20);
    &:hover {
        background-color: tint($crimson, 20);
        border-color: shade($crimson, 10);
    }
    &:active {
        background-color: tint($crimson, 40);
        border-color: shade($crimson, 20);
    }
}
[am-button~="small"] {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
}
[am-button~="fake"] {
    cursor: default;
    pointer-events: none;
}
