[am-button] {
    cursor: pointer;
    display: inline-block;
    color: $black;
    background-color: rgba($black, 0.2);
    line-height: 1;
    padding: 0.5rem 0.75rem;
    text-decoration: none;
    border: 0;
    border-width: 0.125rem;
    border-style: solid;
    border-color: rgba($black, 0.4);
    &:hover {
        background-color: rgba($black, 0.1);
        border-color: rgba($black, 0.3);
    }
}
[am-button~="important"] {
    color: $white;
    background-color: $crimson;
    border-color: $crimsonDark;
    &:hover {
        background-color: $crimsonLight;
        border-color: $crimson;
    }
}
[am-button~="small"] {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
}
[am-button~="fake"] {
    cursor: default;
    pointer-events: none;
}
