[am-icon] {
    display: inline-block;
    vertical-align: middle;
    width: 1rem;
    height: 1rem;
    max-width: none;
    fill: currentColor;
    shape-rendering: geometricPrecision;
    color: inherit;
}
[am-icon~="big"] {
    width: 2rem;
    height: 2rem;
}
[am-icon~="small"] {
    width: 0.5rem;
    height: 0.5rem;
}
[am-icon~="crimson"] {
    fill: $crimson;
}
[am-icon~="lefted"] {
    float: left;
    margin-right: 0.5rem;
}
[am-icon~="righted"] {
    float: right;
    margin-left: 0.5rem;
}
