[am-list] {
    margin: 0;
    padding: 0;
    list-style: none;
}
[am-list~="inline"] {
    > li {
        display: inline-block;
    }
}
[am-list~="spaced"] {
    > li {
        padding: 0.75rem;
    }
}
[am-list~="padded"] {
    padding: 0.75rem;
}
