[am-text] {}

[am-text~="lefted"] {
    text-align: left;
}
[am-text~="righted"] {
    text-align: right;
}
[am-text~="centered"] {
    text-align: center;
}

[am-text~="uppercased"] {
    text-transform: uppercase;
}

[am-text~="400"] {
    font-weight: 400;
}
[am-text~="500"] {
    font-weight: 500;
}
[am-text~="700"] {
    font-weight: 700;
}

[am-text~="colossal"] {
    font-size: rem($sizeColossal);
}
[am-text~="huge"] {
    font-size: rem($sizeHuge);
}
[am-text~="giant"] {
    font-size: rem($sizeGiant);
}
[am-text~="big"] {
    font-size: rem($sizeBig);
}
[am-text~="large"] {
    font-size: rem($sizeLarge);
}
[am-text~="medium"] {
    font-size: rem($sizeMedium);
}
[am-text~="small"] {
    font-size: rem($sizeSmall);
}
[am-text~="little"] {
    font-size: rem($sizeLittle);
}
[am-text~="tiny"] {
    font-size: rem($sizeTiny);
}
