/*------------------------------------------------------------------------------
image config
------------------------------------------------------------------------------*/

:root {

    --image-bg-empty: var(--a-c-silver);
    --image-small-w: 25rem; /* 400px @ 16px */
    --image-small-h: 18rem; /* 288px @ 16px */

}
