/*******************************************************************************
area module - colors
*******************************************************************************/

[i-area~="amaranth"] {
    background-color: var(--c-amaranth);
}

[i-area~="purple"] {
    background-color: var(--c-purple);
}

[i-area~="violet"] {
    background-color: var(--c-violet);
}

[i-area~="gold"] {
    background-color: var(--c-gold);
}

[i-area~="white"] {
    background-color: var(--c-white);
}

[i-area~="silver"] {
    background-color: var(--c-silver);
}

[i-area~="charcoal"] {
    background-color: var(--c-charcoal);
}

/* text color for light backgrounds */
[i-area~="gold"],
[i-area~="white"],
[i-area~="silver"] {
    color: var(--c-charcoal);
}

/* text color for dark backgrounds */
[i-area~="charcoal"],
[i-area~="amaranth"],
[i-area~="purple"],
[i-area~="violet"] {
    color: var(--c-white);
}

/*******************************************************************************
area module - spacing
*******************************************************************************/

[i-area~="medium"] {
    padding: var(--s-leading);
}

[i-area~="medium-v"] {
    padding-top: var(--s-leading);
    padding-bottom: var(--s-leading);
}

[i-area~="medium-h"] {
    padding-right: var(--s-leading);
    padding-left: var(--s-leading);
}

[i-area~="half"] {
    padding: calc(var(--s-leading) * 0.5);
}

[i-area~="half-v"] {
    padding-top: calc(var(--s-leading) * 0.5);
    padding-bottom: calc(var(--s-leading) * 0.5);
}

[i-area~="half-h"] {
    padding-right: calc(var(--s-leading) * 0.5);
    padding-left: calc(var(--s-leading) * 0.5);
}

[i-area~="double"] {
    padding: calc(var(--s-leading) * 2);
}

[i-area~="double-v"] {
    padding-top: calc(var(--s-leading) * 2);
    padding-bottom: calc(var(--s-leading) * 2);
}

[i-area~="double-h"] {
    padding-right: calc(var(--s-leading) * 2);
    padding-left: calc(var(--s-leading) * 2);
}
