/*******************************************************************************
print rules
*******************************************************************************/

@media print {
    html {
        background-color: transparent !important;
        color: rgb(0, 0, 0) !important;
    }

    body {
        padding: 0 !important;
        max-width: none;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    article header,
    section header {
        page-break-after: avoid;
    }

    section[role="main"] > * {
        page-break-before: always;
    }

    table,
    figure,
    ol,
    ul {
        page-break-inside: avoid;
    }

    p {
        widows: 3;
        orphans: 2;
    }

    @page {
        margin: 1.5cm;
    }
}
