/*******************************************************************************
user-action influenced states
*******************************************************************************/

/* links */

a {
    color: inherit;
    text-decoration: underline;
}

a:visited { color: inherit; }

a:hover { color: var(--c-amaranth); }

a:active { color: var(--c-purple); }

/* text selection */

:focus {
    outline-color: var(--c-root-focus);
    outline-style: solid;
    outline-width: 0.125rem;
    background-color: var(--c-root-focus);
}

:focus svg {
    background-color: var(--c-root-focus);
}

::-moz-focus-inner { border: 0; }

::selection {
    background-color: var(--c-amaranth);
    color: var(--c-white);
}

/* disabled elements */

[disabled] {
    pointer-events: none;
    opacity: 0.5;

    /* avoid adding up opacity on nested disabled elements */
    [disabled] { opacity: 1; }
}

/* style broken images */

img {
    position: relative;
    text-align: center;
}

img::after {
    content: "image broken";
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    padding: var(--s-leading);
    width: 100%;
    height: 100%;
    background-color: var(--c-amaranth);
    color: var(--c-white);
    font-size: 200%;
    font-weight: 100;
}
