/*******************************************************************************
base typographic rules
*******************************************************************************/

:--headers {
    margin: 0;
    padding: 0;
    line-height: 1;
}

:--textblocks:not(:last-child) {
    margin-top: 0;
    margin-bottom: var(--leading-s);
}

h1 { font-size: 3rem; }

h2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 2rem;
}

h3 { font-size: 1.5rem; }

h4 {
    font-size: inherit;
    font-weight: 700;
}

p,
pre {
    margin: 0;
}

ul,
ol {
    margin-left: var(--leading-s);
    padding: 0;
}

ul { list-style-type: disc; }

ol { list-style-type: decimal; }

small,
sub,
sup {
    font-size: 75%;
}

sub,
sup {
    vertical-align: baseline;
    position: relative;
    line-height: 0;
}

sup { top: -0.5em; }

sub { bottom: -0.25em; }

strong { font-weight: 700; }

em { font-style: italic; }

blockquote {
    margin-left: 0;
    margin-right: 0;
    padding-left: var(--leading-s);
    box-shadow: inset 0.25rem 0 0 0 var(--a-c-silver);
    font-style: italic;
}

blockquote cite::before {
    content: "\2014";
    display: inline-block;
    margin-right: 0.25rem;
}

code {
    display: inline-block;
    vertical-align: bottom;
    border-radius: 0.125rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    background-color: var(--a-c-silver);
    color: var(--a-c-charcoal);
    font-family: var(--a-font-monospace);
    font-size: 0.75rem;
    line-height: var(--leading-s);
}

/* bigger blocks */
pre code {
    display: block;
    overflow: auto;
    max-width: 100%;
}

/* form elements */
:--formelements {
    color: inherit;
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
}
