//------------------------------------------------------------------------------
// columns module
//------------------------------------------------------------------------------

// Remember to truncate the white space between columns!

/*
<div am-column="1/2 middle">LEFT</div>
<div am-column="1/2 middle">RIGHT</div>
*/

@import "modules/columns/config";

[am-column] { @include columnInit(); }

// custom vertical aligns
[am-column~="top"] { vertical-align: top; }
[am-column~="middle"] { vertical-align: middle; }
[am-column~="bottom"] { vertical-align: bottom; }

// generate all useful ams with loop
@for $a from 2 through $column-max {
    @for $b from 1 through ($a - 1) {
        // all columns
        [am-column~="#{$b}/#{$a}"] { @include columnSet($b, $a); }
        // all column spaces on left and right
        [am-columnBefore~="#{$b}/#{$a}"] { @include columnBefore($b, $a); }
        [am-columnAfter~="#{$b}/#{$a}"] { @include columnAfter($b, $a); }
    }
}
