/*******************************************************************************
progressBar config
*******************************************************************************/

:root {
    --progressBar-bg: var(--c-silver);
    --progressBar-indicator-bg: var(--c-charcoal);

    --progressBar-short-w: 10rem; /* 160px @ 16px */

    --progressBar-pending-s: 1rem;
    --progressBar-pending-gr: radial-gradient(
        circle 0.33rem,
        var(--c-white) 0%,
        var(--c-white) 50%,
        transparent 50%,
        transparent 100%
    );
}

/*******************************************************************************
progressBar module
*******************************************************************************/

[i-progressBar] {
    position: relative;
    overflow: hidden;
    margin-top: 0.25rem;
    border-radius: var(--s-global-br);
    width: 100%;
    height: calc(var(--s-leading) - 0.5rem);
    background-color: var(--progressBar-bg);
}

[i-progressBar]:not(:last-child) { margin-bottom: var(--s-leading); }

[i-progressBar-indicator] {
    display: block;
    border-radius: var(--s-global-br);
    width: 0%;
    height: 100%;
    background-color: var(--progressBar-indicator-bg);
    transition: 0.25s;
}

[i-progressBar~="short"] { max-width: var(--progressBar-short-w); }

@keyframes framesProgressPending {
    0% { background-position: calc(var(--progressBar-pending-s) * -1) 0; }
    100% { background-position: var(--progressBar-pending-s) 0; }
}

[i-progressBar~="pending"]::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.25;
    background-image: var(--progressBar-pending-gr);
    background-size: var(--progressBar-pending-s) 100%;
    background-repeat: repeat-x;
    animation-name: framesProgressPending;
    animation-duration: 0.75s;
    animation-timing-function: linear;
    animation-delay: 0;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}
