//------------------------------------------------------------------------------
// radio module
//------------------------------------------------------------------------------

/*
    <input am-radio type='radio' checked id='SOMETHING-1' name='SOMETHING'> <label for='SOMETHING-1'>YES</label>
*/

[am-radio] {
    position: relative;
    @include appearance(initial);
    display: inline-block;
    vertical-align: middle;
    outline: 0;
    border: 0;
    margin: 0;
    padding: 0;
    @include border-radius(50%);
    @include box-sizing(border-box);
    width: rem($w-small);
    height: rem($w-small);
    @include box-shadow($input-sh);
    color: $input-txt-c;
    background-color: $input-bg-c;
    &:after {
        content: '';
        display: block;
        position: absolute;
        z-index: $z-1;
        top: 25%;
        left: 25%;
        width: 50%;
        height: 50%;
        border-radius: 50%;
        background-color: transparent;
        @include transition(background-color $d-faster);
    }
    &:not([disabled]):not(:checked):hover:after {
        background-color: rgba($input-txt-c, 0.2);
    }
    &:not([disabled]):not(:checked):active:after {
        background-color: rgba($input-txt-c, 0.4);
    }
    &:not([disabled]):checked:hover:after {
        background-color: rgba($input-txt-c, 0.8);
    }
    &:not([disabled]):checked:active:after {
        background-color: rgba($input-txt-c, 0.6);
    }
    &:checked:after {
        background-color: $input-txt-c;
    }
}

// label after radio input
[am-radio] + label {
    display: inline-block;
    vertical-align: middle;
}
