/*******************************************************************************
button module

Every button is constructed in a way to allow for nice pressed-in look.

|                    |                    |
|     normal:        |     pressed-in:    |
|                    |                    |
|     mmmmmmmmmm     |     mmmmmmmmmm     |
|     mmmmmmmmmm     |     mmmmmmmmmm     |     m: margin
|     cccccccccc     |     mmmmmmmmmm     |
|     bbbbbbbbbb     |     cccccccccc     |     c: content
|     bbbbbbbbbb     |     bbbbbbbbbb     |     b: border
|                    |                    |

We have a faux shadow underneath the button and top + bottom margins and the
margins + content height sum never changes. When button is pressed (:active),
then we substract some height from bottom shadow and bottom margin and add
exact same value to top margin - so button vertical space doesn't change, only
the appearance.

*******************************************************************************/

:root {
    --s-button-fontsize: 0.75rem;
    --s-button-padding: 0.5rem;
    --s-button-ySpace: 0.125rem;

    --c-button-focus-bg: var(--c-root-focus);
    --c-button-focus-txt: color(var(--c-button-focus-bg) shade(70%));
    --c-button-focus-border: color(var(--c-button-focus-bg) shade(10%));

    --c-button-default-txt: var(--c-charcoal);
    --c-button-default-bg: var(--c-silver);
    --c-button-default-bg-hover: color(var(--c-button-default-bg) tint(20%));
    --c-button-default-border: color(var(--c-button-default-bg) shade(15%));
    --c-button-default-border-hover: color(var(--c-button-default-bg) shade(10%));

    --c-button-amaranth-txt: var(--c-white);
    --c-button-amaranth-bg: var(--c-amaranth);
    --c-button-amaranth-bg-hover: color(var(--c-button-amaranth-bg) tint(20%));
    --c-button-amaranth-border: color(var(--c-button-amaranth-bg) shade(15%));
    --c-button-amaranth-border-hover: color(var(--c-button-amaranth-bg) shade(10%));

    /*
        height of the button takes into account top margin and bottom border
        but we want to not break the Leading Principle
    */
    --s-button-x1: calc(var(--s-leading) - calc(var(--s-button-ySpace) * 2));
    --s-button-x2: calc((var(--s-leading) * 2) - calc(var(--s-button-ySpace) * 2));
    --s-button-x3: calc((var(--s-leading) * 3) - calc(var(--s-button-ySpace) * 2));
    --s-button-x4: calc((var(--s-leading) * 4) - calc(var(--s-button-ySpace) * 2));
}

[i-button] {
    display: inline-block;
    vertical-align: top;
    border-radius: var(--s-global-br);
    border-bottom-width: var(--s-button-ySpace);
    border-bottom-style: solid;
    padding: 0 var(--s-button-padding);
    height: auto;
    /* we want the button to fit into leading size with breathing space */
    min-height: var(--s-button-x1);
    /*
        don't display outline in active state (because ugly),
        we use custom style to indicate focus
    */
    outline: 0;
    cursor: pointer;
    background-image: none;
    font-family: inherit;
    font-size: var(--s-button-fontsize);
    font-weight: 700;
    /* adjust line-height to adjusted height */
    line-height: var(--s-button-x1);
    text-align: center;
    text-decoration: none;
}

/* normal margin and border state */
[i-button],
[i-button]:visited,
[i-button]:hover,
[i-button~="hover"] {
    margin-top: var(--s-button-ySpace);
    border-bottom-width: var(--s-button-ySpace);
}

/* pressed-in margin and border state */
[i-button]:active,
[i-button~="active"] {
    margin-top: calc(var(--s-button-ySpace) * 1.5);
    border-bottom-width: calc(var(--s-button-ySpace) * 0.5);
}

/*
    special colored version on focus,
    uses !important and I don't feel bad about it
*/
[i-button]:focus,
[i-button~="focus"] {
    border-bottom-color: var(--c-button-focus-border) !important;
    background-color: var(--c-button-focus-bg) !important;
    color: var(--c-button-focus-txt) !important;
}

[i-button~="middle"] {
    vertical-align: middle;
}

/*******************************************************************************
button colors
*******************************************************************************/

/* default */

[i-button],
[i-button]:visited {
    border-bottom-color: var(--c-button-default-border);
    background-color: var(--c-button-default-bg);
    color: var(--c-button-default-txt);
}

[i-button]:hover,
[i-button~="hover"] {
    border-bottom-color: var(--c-button-default-border-hover);
    background-color: var(--c-button-default-bg-hover);
    color: var(--c-button-default-txt);
}

[i-button]:active,
[i-button~="active"] {
    background-color: var(--c-button-default-bg-hover);
    color: var(--c-button-default-txt);
}

/* amaranth */

[i-button~="amaranth"],
[i-button~="amaranth"]:visited {
    border-bottom-color: var(--c-button-amaranth-border);
    background-color: var(--c-button-amaranth-bg);
    color: var(--c-button-amaranth-txt);
}

[i-button~="amaranth"]:hover {
    border-bottom-color: var(--c-button-amaranth-border-hover);
    background-color: var(--c-button-amaranth-bg-hover);
    color: var(--c-button-amaranth-txt);
}

[i-button~="amaranth"]:active {
    background-color: var(--c-button-amaranth-bg-hover);
    color: var(--c-button-amaranth-txt);
}

/*******************************************************************************
button sizes
*******************************************************************************/

[i-button~="double"] {
    padding-right: calc(var(--s-button-padding) * 2);
    padding-left: calc(var(--s-button-padding) * 2);
    min-height: var(--s-button-x2);
    font-size: calc(var(--s-button-fontsize) * 2);
    line-height: var(--s-button-x2);
}

[i-button~="triple"] {
    padding-right: calc(var(--s-button-padding) * 3);
    padding-left: calc(var(--s-button-padding) * 3);
    min-height: var(--s-button-x3);
    font-size: calc(var(--s-button-fontsize) * 3);
    line-height: var(--s-button-x3);
}

[i-button~="quadruple"] {
    padding-right: calc(var(--s-button-padding) * 4);
    padding-left: calc(var(--s-button-padding) * 4);
    min-height: var(--s-button-x4);
    font-size: calc(var(--s-button-fontsize) * 4);
    line-height: var(--s-button-x4);
}

[i-button~="full"] {
    width: 100%;
}
