/*------------------------------------------------------------------------------
main styles aggregation
------------------------------------------------------------------------------*/

/* settings */
/*------------------------------------------------------------------------------
all DESCRIPTIVE variables (colors, sizes, etc.)
------------------------------------------------------------------------------*/

:root {

    /* colors */

    /* font families */

    /* fractions */

    /* percents */

    /* durations */

    /* z-indexes */

    /* sizes */ /* 80px @ 16px */ /* 64px @ 16px */ /* 40px @ 16px */ /* 32px @ 16px */ /* 20px @ 16px */ /* 16px @ 16px */ /* 10px @ 16px */ /* 8px @ 16px */ /* 5px @ 16px */

}
/*------------------------------------------------------------------------------
common FUNCTIONAL variables (each module has own config file)
------------------------------------------------------------------------------*/

:root {

    /* base */ /* 576px @ 16px */

    /* root typography with font sizes for different screens scaling */

    /* specific elements */ /* 1px @ 16px */ /* 4px @ 16px */

    /* reusable stuff */

}
/*------------------------------------------------------------------------------
custom media queries and selectors
------------------------------------------------------------------------------*/

/* basics */
/*------------------------------------------------------------------------------
root stuff and normalizations
------------------------------------------------------------------------------*/

/* clever page scaling with root font size changes */

html {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    font-family: "Source Sans Pro", sans-serif;
    text-rendering: optimizeLegibility;

    min-height: 100%;

    color: hsl(0, 0%, 20%);
    background-color: hsl(0, 0%, 100%);

    box-sizing: border-box;
}

@media (min-width: 1536px) { html { font-size: 20px; } }

@media (max-width: 720px) { html { font-size: 16px; } }

*, *:before, *:after {
    box-sizing: inherit;
}
/*------------------------------------------------------------------------------
base typographic rules
------------------------------------------------------------------------------*/

h1,
h2,
h3,
h4 {
    line-height: 1;
    margin: 0;
    padding: 0;
}

h1:not(last-child),
h2:not(last-child),
h3:not(last-child),
h4:not(last-child),
p:not(last-child),
ul:not(last-child),
ol:not(last-child),
blockquote:not(last-child),
pre:not(last-child) {
    margin-top: 0;
    margin-bottom: 27px;
    margin-bottom: 1.5rem;
}

h1 { font-size: 54px; font-size: 3rem; }

h2 {
    font-size: 36px;
    font-size: 2rem;
    padding-top: 9px;
    padding-top: 0.5rem;
    padding-bottom: 9px;
    padding-bottom: 0.5rem;
}

h3 { font-size: 27px; font-size: 1.5rem; }

h4 {
    font-size: inherit;
    font-weight: 700;
}

ul, ol {
    margin-top: 0;
    margin-left: 27px;
    margin-left: 1.5rem;
}

ul { list-style-type: disc; }

ol { list-style-type: decimal; }

small, sub, sup { font-size: 75%; }

sub, sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup { top: -0.5em; }

sub { bottom: -0.25em; }

strong { font-weight: 700; }

em { font-style: italic; }

blockquote {
    font-style: italic;
    cite { font-style: normal; }
}

code { font-family: "Source Code Pro" , "Input Mono" , "Consolas" , "Fira Mono", "Inconsolata",  "Monaco" , "Lucida Console" , "Liberation Mono" , "DejaVu Sans Mono" , "Bitstream Vera Sans Mono" , "Courier New" , monospace }
/*------------------------------------------------------------------------------
user-action influenced states
------------------------------------------------------------------------------*/

/* links */

a {
    color: inherit;
    text-decoration: none;

    /* custom underlines */
    background-position: 0 100%;
    background-size: 0.0625rem 0.0625rem;
    background-image: -webkit-linear-gradient(right, currentColor 0%, currentColor 0%);
    background-image: linear-gradient( to left, currentColor 0%, currentColor 0% );
    background-repeat: repeat-x;
}

a:hover {
    color: inherit;
    background-size: 0.125rem 0.125rem;
}

a:visited { color: inherit; }

a:active { color: hsl(348, 96%, 56%); }

/* text selection */

:focus {
    outline-color: hsl(348, 96%, 56%);
    outline-style: auto;
    outline-width: 4px;
    outline-width: 0.25rem;
}

::-moz-focus-inner { border: 0; }

::-moz-selection {
    color: hsl(0, 0%, 100%);
    background-color: hsl(348, 96%, 56%);
}

::selection {
    color: hsl(0, 0%, 100%);
    background-color: hsl(348, 96%, 56%);
}

/* disabled elements */

[disabled] {
    pointer-events: none;
    opacity: 0.50;

    /* avoid adding up opacity on nested disabled elements */
    [disabled] { opacity: 1; }
}
/*------------------------------------------------------------------------------
sizing base layout parts
------------------------------------------------------------------------------*/

body {
    margin: 0;
    width: 100%;
    max-width: 648px;
    max-width: 36rem;
    padding: 54px 27px;
    padding: 3rem 1.5rem;
}

/* components */
/*------------------------------------------------------------------------------
button component
------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
button config
------------------------------------------------------------------------------*/

[gui-c-button] {
    display: inline-block;
    vertical-align: top;

    border: 0;
    outline: 0;

    cursor: pointer;

    padding: 0 9px;
    padding: 0 0.5rem;

    line-height: 24px;
    line-height: 1.375rem;
    height: 22px;
    height: 1.25rem;
    margin: 2px 0;
    margin: 0.125rem 0;

    border-radius: 0.125rem;

    font-size: 13px;
    font-size: 0.75rem;
    font-weight: 700;
    font-family: inherit;
    text-align: center;

    text-decoration: none;
    background-image: none;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

[gui-c-button],
[gui-c-button]:visited {
    color: hsl(0, 0%, 20%);
    background-color: hsl(0, 0%, 80%);
    box-shadow: 0 0.125rem 0 0 rgb(173, 173, 173);
}

[gui-c-button]:not([disabled]):hover {
    background-color: rgb(214, 214, 214);
    box-shadow: 0 0.125rem 0 0 rgb(184, 184, 184);
}

[gui-c-button]:not([disabled]):active {
    background-color: rgb(219, 219, 219);
    box-shadow: 0 0.125rem 0 0 rgb(194, 194, 194);
}

[gui-c-button~="middle"] {
    vertical-align: middle;
}


/*------------------------------------------------------------------------------
button sizes
------------------------------------------------------------------------------*/

[gui-c-button~="big"] {
    padding: 0 18px;
    padding: 0 1rem;

    line-height: 45px;
    line-height: 2.5rem;
    height: 45px;
    height: 2.5rem;
    margin: 4px 0;
    margin: 0.25rem 0;

    font-size: 27px;
    font-size: 1.5rem;
}

[gui-c-button~="full"] {
    width: 100%;
    display: block;
}
/*------------------------------------------------------------------------------
icon component
------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
icon config
------------------------------------------------------------------------------*/

[gui-c-icon] {
    display: inline-block;
    vertical-align: middle;

    height: 27px;
    height: 1.5rem;
    width: 27px;
    width: 1.5rem;

    shape-rendering: geometricPrecision;

    fill: currentColor;
    color: inherit;
}

/* bugfix for click target SVGElementInstance */

[gui-c-icon] > * { pointer-events: none; }

[gui-c-icon~="big"] {
    width: 54px;
    width: 3rem;
    height: 54px;
    height: 3rem;
}

[gui-c-icon~="silver"] { fill: hsl(0, 0%, 80%) }
/*------------------------------------------------------------------------------
image component
------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
image config
------------------------------------------------------------------------------*/

:root { /* 400px @ 16px */ /* 288px @ 16px */

}
/*------------------------------------------------------------------------------
image component library
------------------------------------------------------------------------------*/

[gui-c-image~="medievalbloodandgore"] {
    background-image: url('/public/images/test/thumbnail/medieval-blood-and-gore.jpg');
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    [gui-c-image~="medievalbloodandgore"] {
        background-image: url('/public/images/test/thumbnail-x2/medieval-blood-and-gore.jpg');
    }
}

[gui-c-image] {
    display: inline-block;
    vertical-align: top;

    margin: 0;
    padding: 0;

    width: 100%;

    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    background-color: hsl(0, 0%, 80%);

    -webkit-backface-visibility: hidden;

            backface-visibility: hidden;
}

[gui-c-image~="small"] {
    width: 450px;
    width: 25rem;
    height: 324px;
    height: 18rem;
}
/*------------------------------------------------------------------------------
section component
------------------------------------------------------------------------------*/

[gui-c-section]:not(:last-child) {
    margin-bottom: 54px;
    margin-bottom: 3rem;
}

[gui-c-section~="main"]:not(:last-child) {
    margin-bottom: 81px;
    margin-bottom: 4.5rem;
}
/*------------------------------------------------------------------------------
table component
------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
table config
------------------------------------------------------------------------------*/

[gui-c-table] {
    border-collapse: separate;
    border-spacing: 0;
}

[gui-c-table]:not(:last-child) {
    margin-bottom: 27px;
    margin-bottom: 1.5rem;
}

[gui-c-table] td,
[gui-c-table] th {
    padding: 13px;
    padding: 0.75rem;
    box-shadow: 0 0 0 0.0625rem rgb(163, 163, 163);

    background-color: hsl(0, 0%, 100%);
}

[gui-c-table] thead { font-weight: 700; }

[gui-c-table~="hoverable"] tr:hover td {
    background-color: rgb(230, 230, 230);
}

[gui-c-table~="full"] { width: 100%; }

/* utilities */
/*------------------------------------------------------------------------------
area utility
------------------------------------------------------------------------------*/

[gui-u-area] {
    background-color: hsl(0, 0%, 100%);
}

[gui-u-area~="padded"] { padding: 27px; padding: 1.5rem; }
[gui-u-area~="paddedV"] { padding: 27px 0; padding: 1.5rem 0; }
[gui-u-area~="paddedH"] { padding: 0 27px; padding: 0 1.5rem; }

[gui-u-area~="silver"] {
    color: hsl(0, 0%, 20%);
    background-color: hsl(0, 0%, 80%);
}

[gui-u-area~="charcoal"] {
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 20%);
}
/*------------------------------------------------------------------------------
column utility
------------------------------------------------------------------------------*/

/* Remember to truncate the white space between columns! */

[gui-u-column] {
    display: inline-block;
    vertical-align: top;

    width: 100%;
}

[gui-u-column~="top"] { vertical-align: top; }
[gui-u-column~="middle"] { vertical-align: middle; }
[gui-u-column~="bottom"] { vertical-align: bottom; }

[gui-u-column~="1/2"] { width: 50%; }
[gui-u-column~="1/3"] { width: 33.33333%; }
[gui-u-column~="2/3"] { width: 66.66667%; }
[gui-u-column~="1/4"] { width: 25%; }
[gui-u-column~="3/4"] { width: 75%; }

[gui-u-columnbefore~="1/2"] { margin-left: 50%; }
[gui-u-columnbefore~="1/3"] { margin-left: 33.33333%; }
[gui-u-columnbefore~="2/3"] { margin-left: 66.66667%; }
[gui-u-columnbefore~="1/4"] { margin-left: 25%; }
[gui-u-columnbefore~="3/4"] { margin-left: 75%; }

[gui-u-columnafter~="1/2"] { margin-right: 50%; }
[gui-u-columnafter~="1/3"] { margin-right: 33.33333%; }
[gui-u-columnafter~="2/3"] { margin-right: 66.66667%; }
[gui-u-columnafter~="1/4"] { margin-right: 25%; }
[gui-u-columnafter~="3/4"] { margin-right: 75%; }
/*------------------------------------------------------------------------------
hover utility
------------------------------------------------------------------------------*/

[gui-u-hover]:not(:hover) [gui-u-hover-item~="restore"],
[gui-u-hover]:hover [gui-u-hover-item~="remove"] {
    display: none;
}

[gui-u-hover]:not(:hover) [gui-u-hover-item~="show"],
[gui-u-hover]:hover [gui-u-hover-item~="hide"] {
    visibility: hidden;
    opacity: 0;
}

[gui-u-hover-item~="animate"] {
    -webkit-transition-duration: 0.125s;
            transition-duration: 0.125s;
}
/*------------------------------------------------------------------------------
inlineblock utility
------------------------------------------------------------------------------*/

[gui-u-inlineblock] { display: inline-block; }
/*------------------------------------------------------------------------------
text utility
------------------------------------------------------------------------------*/

/* aligns */
[gui-u-text~="lefted"] { text-align: left; }
[gui-u-text~="righted"] { text-align: right; }
[gui-u-text~="centered"] { text-align: center; }

/* weights */
[gui-u-text~="300"] { font-weight: 300; }
[gui-u-text~="400"] { font-weight: 400; }
[gui-u-text~="600"] { font-weight: 600; }
[gui-u-text~="700"] { font-weight: 700; }

/*text transforms */
[gui-u-text~="uppercased"] { text-transform: uppercase; }
[gui-u-text~="untransformed"] { text-transform: none; }

/* trims text with an ellipsis */
[gui-u-text~="trimmed"] {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
