/*------------------------------------------------------------------------------
main styles aggregation
------------------------------------------------------------------------------*/

/* settings */
/*------------------------------------------------------------------------------
all DESCRIPTIVE variables (colors, sizes, etc.)
------------------------------------------------------------------------------*/

:root {

    /* colors */

    /* font families */

    /* fractions */

    /* percents */

    /* durations */

    /* z-indexes */

    /* sizes */ /* 80px @ 16px */ /* 64px @ 16px */ /* 40px @ 16px */ /* 32px @ 16px */ /* 20px @ 16px */ /* 16px @ 16px */ /* 10px @ 16px */ /* 8px @ 16px */ /* 5px @ 16px */

}
/*------------------------------------------------------------------------------
common FUNCTIONAL variables (each module has own config file)
------------------------------------------------------------------------------*/

:root {

    /* base */ /* 576px @ 16px */

    /* root typography with font sizes for different screens scaling */

    /* specific elements */ /* 1px @ 16px */ /* 4px @ 16px */

}
/*------------------------------------------------------------------------------
custom media queries and selectors
------------------------------------------------------------------------------*/

/* basics */
/*------------------------------------------------------------------------------
root stuff and normalizations
------------------------------------------------------------------------------*/

/* clever page scaling with root font size changes */

html {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    font-family: "Source Sans Pro", sans-serif;
    text-rendering: optimizeLegibility;

    min-height: 100%;

    color: hsl(276, 32%, 12%);
    background-color: hsl(0, 0%, 100%);

    box-sizing: border-box;
}

@media (min-width: 1536px) { html { font-size: 20px; } }

@media (max-width: 720px) { html { font-size: 16px; } }

*, *:before, *:after {
    box-sizing: inherit;
}
/*------------------------------------------------------------------------------
base typographic rules
------------------------------------------------------------------------------*/

h1,
h2,
h3,
h4 {
    line-height: 1;
    margin: 0;
    padding: 0;
}

h1 { font-size: 54px; font-size: 3rem; }

h2 { font-size: 36px; font-size: 2rem; }

h3 { font-size: 27px; font-size: 1.5rem; }

h4 {
    font-size: inherit;
    font-weight: 700;
}

p { margin: 0; }

ul, ol { margin-left: 27px; margin-left: 1.5rem; }

ul { list-style-type: disc; }

ol { list-style-type: decimal; }

small, sub, sup { font-size: 75%; }

sub, sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup { top: -0.5em; }

sub { bottom: -0.25em; }

strong { font-weight: 700; }

em { font-style: italic; }

blockquote {
    font-style: italic;
    cite { font-style: normal; }
}

code { font-family: "Source Code Pro" , "Input Mono" , "Consolas" , "Fira Mono", "Inconsolata",  "Monaco" , "Lucida Console" , "Liberation Mono" , "DejaVu Sans Mono" , "Bitstream Vera Sans Mono" , "Courier New" , monospace }
/*------------------------------------------------------------------------------
user-action influenced states
------------------------------------------------------------------------------*/

/* links */

a {
    color: inherit;
    text-decoration: none;

    /* custom underlines */
    background-position: 0 100%;
    background-size: 0.0625rem 0.0625rem;
    background-image: -webkit-linear-gradient(right, currentColor 0%, currentColor 0%);
    background-image: linear-gradient( to left, currentColor 0%, currentColor 0% );
    background-repeat: repeat-x;
}

a:hover {
    color: inherit;
    background-size: 0.125rem 0.125rem;
}

a:visited { color: inherit; }

a:active { color: hsl(348, 96%, 56%); }

/* text selection */

:focus {
    outline-color: hsl(348, 96%, 56%);
    outline-style: auto;
    outline-width: 4px;
    outline-width: 0.25rem;
}

::-moz-focus-inner { border: 0; }

::-moz-selection {
    color: hsl(0, 0%, 100%);
    background-color: hsl(348, 96%, 56%);
}

::selection {
    color: hsl(0, 0%, 100%);
    background-color: hsl(348, 96%, 56%);
}

/* disabled elements */

[disabled] {
    pointer-events: none;
    opacity: 0.50;

    /* avoid adding up opacity on nested disabled elements */
    [disabled] { opacity: 1; }
}
/*------------------------------------------------------------------------------
sizing base layout parts
------------------------------------------------------------------------------*/

body {
    margin: 0;
    width: 100%;
    padding: 54px
        27px
    ;
    padding: 3rem
        1.5rem
    ;
}

/* components */
/*------------------------------------------------------------------------------
button component
------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
button config
------------------------------------------------------------------------------*/

[gui-c-button] {
    display: inline-block;
    vertical-align: middle;

    border: 0;
    outline: 0;

    cursor: pointer;

    padding: 0 9px;
    padding: 0 0.5rem;

    line-height: 21px;
    line-height: 1.2rem;
    height: 21px;
    height: 1.2rem;
    margin: 2px 0;
    margin: 0.15rem 0;

    font-size: 13px;
    font-size: 0.75rem;
    font-weight: 700;
    font-family: inherit;
    text-align: center;

    text-decoration: none;
    background-image: none;

    color: hsl(0, 0%, 100%);
    background-color: hsl(276, 32%, 12%);
    box-shadow: 0 0.125rem 0 0 hsl(276, 32%, 12%);

    border-radius: 0.125rem;
}

[gui-c-button]:not([disabled]):hover {
    box-shadow: 0 0.125rem 0 0 hsl(348, 96%, 56%);
    background-color: hsl(348, 96%, 56%);
}

[gui-c-button]:not([disabled]):active {
    box-shadow: 0 0.125rem 0 0 hsl(328, 72%, 44%);
    background-color: hsl(328, 72%, 44%);
}

/* utilities */
/*------------------------------------------------------------------------------
text utility
------------------------------------------------------------------------------*/

/* aligns */
[gui-u-text~="lefted"] { text-align: left; }
[gui-u-text~="righted"] { text-align: right; }
[gui-u-text~="centered"] { text-align: center; }

/* weights */
[gui-u-text~="300"] { font-weight: 300; }
[gui-u-text~="400"] { font-weight: 400; }
[gui-u-text~="600"] { font-weight: 600; }
[gui-u-text~="700"] { font-weight: 700; }

/*text transforms*/
[gui-u-text~="uppercased"] { text-transform: uppercase; }
[gui-u-text~="untransformed"] { text-transform: none; }

/* trims text with an ellipsis */
[gui-u-text~="trimmed"] {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
