/*------------------------------------------------------------------------------
main styles aggregation
------------------------------------------------------------------------------*/

/* settings */
/*------------------------------------------------------------------------------
all DESCRIPTIVE variables (colors, sizes, etc.)
------------------------------------------------------------------------------*/

:root {

    /* colors */

    /* font families */

    /* fractions */

    /* percents */

    /* durations */

    /* z-indexes */

    /* sizes */ /* 80px @ 16px */ /* 64px @ 16px */ /* 40px @ 16px */ /* 32px @ 16px */ /* 20px @ 16px */ /* 16px @ 16px */ /* 10px @ 16px */ /* 8px @ 16px */ /* 4px @ 16px */

}
/*------------------------------------------------------------------------------
common FUNCTIONAL variables (each module has own config file)
------------------------------------------------------------------------------*/

:root {

    /* base */ /* 576px @ 16px */

    /* root typography with font sizes for different screens scaling */

    /* specific elements */ /* 1px @ 16px */

    /* reusable stuff */

}
/*------------------------------------------------------------------------------
custom media queries and selectors
------------------------------------------------------------------------------*/

/* basics */
/*------------------------------------------------------------------------------
root stuff and normalizations
------------------------------------------------------------------------------*/

/* Root line height is being used in many places throughout the project.
It is recommended to keep all vertical margins and heights of elements to match
the leading. Use caution when adding borders or when using vertical-align middle
as they tend to add unwanted pixels, thus braking the flow. */

html {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    font-family: "Source Sans Pro", sans-serif;
    text-rendering: optimizeLegibility;

    min-height: 100%;

    color: rgb(51, 51, 51);
    background-color: rgb(255, 255, 255);

    box-sizing: border-box;
}

/* clever page scaling with root font size changes */

@media (min-width: 1536px) { html { font-size: 20px; } }

@media (max-width: 720px) { html { font-size: 16px; } }

*, *:before, *:after {
    box-sizing: inherit;
}
/*------------------------------------------------------------------------------
base typographic rules
------------------------------------------------------------------------------*/

h1,
h2,
h3,
h4 {
    line-height: 1;
    margin: 0;
    padding: 0;
}

h1:not(:last-child),
h2:not(:last-child),
h3:not(:last-child),
h4:not(:last-child),
p:not(:last-child),
ul:not(:last-child),
ol:not(:last-child),
blockquote:not(:last-child),
pre:not(:last-child) {
    margin-top: 0;
    margin-bottom: 27px;
    margin-bottom: 1.5rem;
}

h1 { font-size: 54px; font-size: 3rem; }

h2 {
    font-size: 36px;
    font-size: 2rem;
    padding-top: 9px;
    padding-top: 0.5rem;
    padding-bottom: 9px;
    padding-bottom: 0.5rem;
}

h3 { font-size: 27px; font-size: 1.5rem; }

h4 {
    font-size: inherit;
    font-weight: 700;
}

p, pre { margin: 0; }

ul, ol {
    padding: 0;
    margin-left: 27px;
    margin-left: 1.5rem;
}

ul { list-style-type: disc; }

ol { list-style-type: decimal; }

small, sub, sup { font-size: 75%; }

sub, sup {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup { top: -0.5em; }

sub { bottom: -0.25em; }

strong { font-weight: 700; }

em { font-style: italic; }

blockquote {
    font-style: italic;

    margin-left: 0;
    margin-right: 0;

    padding-left: 27px;
    padding-left: 1.5rem;

    box-shadow: inset 0.25rem 0 0 0 rgb(204, 204, 204);
}

blockquote cite:before {
    content: "\2014";
    display: inline-block;
    margin-right: 4px;
    margin-right: 0.25rem;
}

code {
    display: inline-block;
    vertical-align: bottom;

    padding-left: 4px;
    padding-left: 0.25rem;
    padding-right: 4px;
    padding-right: 0.25rem;

    font-family: "Source Code Pro" , "Input Mono" , "Consolas" , "Fira Mono", "Inconsolata",  "Monaco" , "Lucida Console" , "Liberation Mono" , "DejaVu Sans Mono" , "Bitstream Vera Sans Mono" , "Courier New" , monospace;
    font-size: 13px;
    font-size: 0.75rem;
    line-height: 27px;
    line-height: 1.5rem;

    color: rgb(51, 51, 51);
    background-color: rgb(204, 204, 204);
    border-radius: 0.125rem;
}

/* bigger blocks */

pre code {
    display: block;
    max-width: 100%;
    overflow: auto;
}
/*------------------------------------------------------------------------------
user-action influenced states
------------------------------------------------------------------------------*/

/* links */

a {
    color: inherit;
    text-decoration: none;

    /* custom underlines */
    background-position: 0 100%;
    background-size: 0.0625rem 0.0625rem;
    background-image: -webkit-linear-gradient(right, currentColor 0%, currentColor 0%);
    background-image: linear-gradient( to left, currentColor 0%, currentColor 0% );
    background-repeat: repeat-x;
}

a:hover {
    color: inherit;
    background-size: 0.125rem 0.125rem;
}

a:visited { color: inherit; }

a:active { color: rgb(250, 31, 74); }

/* text selection */

:focus {
    outline-color: rgb(250, 31, 74);
    outline-style: auto;
    outline-width: 4px;
    outline-width: 0.25rem;
}

::-moz-focus-inner { border: 0; }

::-moz-selection {
    color: rgb(255, 255, 255);
    background-color: rgb(250, 31, 74);
}

::selection {
    color: rgb(255, 255, 255);
    background-color: rgb(250, 31, 74);
}

/* disabled elements */

[disabled] {
    pointer-events: none;
    opacity: 0.50;

    /* avoid adding up opacity on nested disabled elements */
    [disabled] { opacity: 1; }
}
/*------------------------------------------------------------------------------
sizing base layout parts
------------------------------------------------------------------------------*/

body {
    margin: 0;
    width: 100%;
    max-width: 648px;
    max-width: 36rem;
    padding: 54px 27px;
    padding: 3rem 1.5rem;
}

/* organisms */
/*------------------------------------------------------------------------------
button organism
------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
button config
------------------------------------------------------------------------------*/

[gui-o-button] {
    display: inline-block;
    vertical-align: top;

    border: 0;
    outline: 0;

    cursor: pointer;

    padding-top: 0;
    padding-bottom: 0;
    padding-left: 9px;
    padding-left: 0.5rem;
    padding-right: 9px;
    padding-right: 0.5rem;

    line-height: 24px;
    line-height: 1.375rem;
    height: 22px;
    height: 1.25rem;
    margin: 2px 0;
    margin: 0.125rem 0;

    border-radius: 0.125rem;

    font-size: 13px;
    font-size: 0.75rem;
    font-weight: 700;
    font-family: inherit;
    text-align: center;

    text-decoration: none;
    background-image: none;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

[gui-o-button],
[gui-o-button]:visited {
    color: rgb(51, 51, 51);
    background-color: rgb(204, 204, 204);
    box-shadow: 0 0.125rem 0 0 rgb(173, 173, 173);
}

[gui-o-button]:not([disabled]):hover {
    background-color: rgb(214, 214, 214);
    box-shadow: 0 0.125rem 0 0 rgb(184, 184, 184);
}

[gui-o-button]:not([disabled]):active {
    background-color: rgb(219, 219, 219);
    box-shadow: 0 0.125rem 0 0 rgb(194, 194, 194);
}

[gui-o-button~="middle"] {
    vertical-align: middle;
}


/*------------------------------------------------------------------------------
button sizes
------------------------------------------------------------------------------*/

[gui-o-button~="double"] {
    padding-left: 18px;
    padding-left: 1rem;
    padding-right: 18px;
    padding-right: 1rem;

    line-height: 49px;
    line-height: 2.75rem;
    height: 49px;
    height: 2.75rem;

    font-size: 27px;
    font-size: 1.5rem;
}

[gui-o-button~="triple"] {
    padding-left: 27px;
    padding-left: 1.5rem;
    padding-right: 27px;
    padding-right: 1.5rem;

    line-height: 74px;
    line-height: 4.125rem;
    height: 76px;
    height: 4.25rem;

    font-size: 40px;
    font-size: 2.25rem;
}

[gui-o-button~="full"] {
    width: 100%;
    display: block;
}
/*------------------------------------------------------------------------------
icon organism
------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
icon config
------------------------------------------------------------------------------*/

[gui-o-icon] {
    display: inline-block;
    vertical-align: middle;

    height: 27px;
    height: 1.5rem;
    width: 27px;
    width: 1.5rem;

    shape-rendering: geometricPrecision;

    fill: currentColor;
    color: inherit;
}

/* bugfix for click target SVGElementInstance */

[gui-o-icon] > * { pointer-events: none; }

[gui-o-icon~="big"] {
    width: 54px;
    width: 3rem;
    height: 54px;
    height: 3rem;
}

[gui-o-icon~="silver"] { fill: rgb(204, 204, 204) }
/*------------------------------------------------------------------------------
image organism
------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
image config
------------------------------------------------------------------------------*/

:root { /* 400px @ 16px */ /* 288px @ 16px */

}
/*------------------------------------------------------------------------------
image organism library
------------------------------------------------------------------------------*/

[gui-o-image~="medievalbloodandgore"] {
    background-image: url("/public/images/test/thumbnail/medieval-blood-and-gore.jpg");
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    [gui-o-image~="medievalbloodandgore"] {
        background-image: url("/public/images/test/thumbnail-x2/medieval-blood-and-gore.jpg");
    }
}

[gui-o-image] {
    display: inline-block;
    vertical-align: top;

    margin: 0;
    padding: 0;

    width: 100%;

    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    background-color: rgb(204, 204, 204);

    -webkit-backface-visibility: hidden;

            backface-visibility: hidden;
}

[gui-o-image]:not(:last-child) { margin-bottom: 27px; margin-bottom: 1.5rem; }

[gui-o-image~="small"] {
    width: 450px;
    width: 25rem;
    height: 324px;
    height: 18rem;
}
/*------------------------------------------------------------------------------
progressbar organism
------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
progressbar config
------------------------------------------------------------------------------*/

:root { /* 160px @ 16px */

}

[gui-o-progressbar] {
    position: relative;
    overflow: hidden;

    width: 100%;

    height: 18px;
    height: 1rem;
    margin: 4px 0;
    margin: 0.25rem 0;

    background-color: rgb(204, 204, 204);

    border-radius: 0.125rem;
}

[gui-o-progressbar]:not(:last-child) { margin-bottom: 27px; margin-bottom: 1.5rem; }

[gui-o-progressbar-indicator] {
    display: block;
    height: 100%;
    width: 0%;

    background-color: rgb(51, 51, 51);
    border-radius: 0.125rem;

    -webkit-transition: 0.25s;

            transition: 0.25s;
}

[gui-o-progressbar~="short"] { max-width: 180px; max-width: 10rem; }

@-webkit-keyframes framesProgressPending {
    0% { background-position: -1rem 0; }
    100% { background-position: 1rem 0; }
}

@keyframes framesProgressPending {
    0% { background-position: -1rem 0; }
    100% { background-position: 1rem 0; }
}

[gui-o-progressbar~="is-pending"]:after {
    content: "";

    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 0.25;

    background-image: -webkit-radial-gradient(circle 0.33rem, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 50%, transparent 50%, transparent 100%);

    background-image: radial-gradient(
        circle 0.33rem,
        rgb(255, 255, 255) 0%,
        rgb(255, 255, 255) 50%,
        transparent 50%,
        transparent 100%
    );
    background-size: 1rem 100%;
    background-repeat: repeat-x;

    -webkit-animation-name: framesProgressPending;

            animation-name: framesProgressPending;
    -webkit-animation-duration: 0.75s;
            animation-duration: 0.75s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    -webkit-animation-direction: normal;
            animation-direction: normal;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-fill-mode: none;
            animation-fill-mode: none;
    -webkit-animation-play-state: running;
            animation-play-state: running;
}
/*------------------------------------------------------------------------------
section organism
------------------------------------------------------------------------------*/

[gui-o-section]:not(:last-child) {
    margin-bottom: 54px;
    margin-bottom: 3rem;
}

[gui-o-section~="main"]:not(:last-child) {
    margin-bottom: 81px;
    margin-bottom: 4.5rem;
}
/*------------------------------------------------------------------------------
table organism
------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
table config
------------------------------------------------------------------------------*/

[gui-o-table] {
    border-collapse: separate;
    border-spacing: 0;
}

[gui-o-table]:not(:last-child),
[gui-o-table] caption:not(:last-child) { 
    margin-bottom: 27px; 
    margin-bottom: 1.5rem;
}

[gui-o-table] td,
[gui-o-table] th {
    padding: 13px;
    padding: 0.75rem;
    box-shadow: 0 0 0 0.0625rem rgb(163, 163, 163);

    background-color: rgb(255, 255, 255);
}

[gui-o-table] thead { font-weight: 700; }

[gui-o-table] caption {
    text-align: center;
    font-style: italic;
}

[gui-o-table~="hoverable"] tr:hover td {
    background-color: rgb(230, 230, 230);
}

[gui-o-table~="full"] { width: 100%; }

/* molecules */
/*------------------------------------------------------------------------------
area molecule
------------------------------------------------------------------------------*/

[gui-m-area~="amaranth"] { background-color: rgb(250, 31, 74); }
[gui-m-area~="purple"] { background-color: rgb(194, 31, 118); }
[gui-m-area~="violet"] { background-color: rgb(103, 36, 148); }
[gui-m-area~="white"] { background-color: rgb(255, 255, 255); }
[gui-m-area~="silver"] { background-color: rgb(204, 204, 204); }
[gui-m-area~="charcoal"] { background-color: rgb(51, 51, 51); }

/* text color for light backgrounds */
[gui-m-area~="white"],
[gui-m-area~="silver"] {
    color: rgb(51, 51, 51);
}

/* text color for dark backgrounds */
[gui-m-area~="charcoal"],
[gui-m-area~="amaranth"],
[gui-m-area~="purple"],
[gui-m-area~="violet"] {
    color: rgb(255, 255, 255);
}
/*------------------------------------------------------------------------------
column molecule
------------------------------------------------------------------------------*/

/* Remember to truncate the white space between columns! */

[gui-m-column] {
    display: inline-block;
    vertical-align: top;

    width: 100%;
}

[gui-m-column~="top"] { vertical-align: top; }
[gui-m-column~="middle"] { vertical-align: middle; }
[gui-m-column~="bottom"] { vertical-align: bottom; }

[gui-m-column~="1/2"] { width: 50%; }
[gui-m-column~="1/3"] { width: 33.33333%; }
[gui-m-column~="2/3"] { width: 66.66667%; }
[gui-m-column~="1/4"] { width: 25%; }
[gui-m-column~="3/4"] { width: 75%; }

[gui-m-columnbefore~="1/2"] { margin-left: 50%; }
[gui-m-columnbefore~="1/3"] { margin-left: 33.33333%; }
[gui-m-columnbefore~="2/3"] { margin-left: 66.66667%; }
[gui-m-columnbefore~="1/4"] { margin-left: 25%; }
[gui-m-columnbefore~="3/4"] { margin-left: 75%; }

[gui-m-columnafter~="1/2"] { margin-right: 50%; }
[gui-m-columnafter~="1/3"] { margin-right: 33.33333%; }
[gui-m-columnafter~="2/3"] { margin-right: 66.66667%; }
[gui-m-columnafter~="1/4"] { margin-right: 25%; }
[gui-m-columnafter~="3/4"] { margin-right: 75%; }
/*------------------------------------------------------------------------------
hover molecule
------------------------------------------------------------------------------*/

[gui-m-hover]:not(:hover) [gui-m-hover-item~="restore"],
[gui-m-hover]:hover [gui-m-hover-item~="remove"] {
    display: none;
}

[gui-m-hover]:not(:hover) [gui-m-hover-item~="show"],
[gui-m-hover]:hover [gui-m-hover-item~="hide"] {
    visibility: hidden;
    opacity: 0;
}

[gui-m-hover-item~="animate"] {
    -webkit-transition-duration: 0.125s;
            transition-duration: 0.125s;
}
/*------------------------------------------------------------------------------
inlineblock molecule
------------------------------------------------------------------------------*/

[gui-m-inlineblock] { display: inline-block; }
/*------------------------------------------------------------------------------
pad molecule
------------------------------------------------------------------------------*/

[gui-m-pad="medium"] {
    padding: 27px;
    padding: 1.5rem;
}
[gui-m-pad~="medium-v"] {
    padding-top: 27px;
    padding-top: 1.5rem;
    padding-bottom: 27px;
    padding-bottom: 1.5rem;
}
[gui-m-pad~="medium-h"] {
    padding-left: 27px;
    padding-left: 1.5rem;
    padding-right: 27px;
    padding-right: 1.5rem;
}

[gui-m-pad~="half"] {
    padding: 13px;
    padding: 0.75rem;
}
[gui-m-pad~="half-v"] {
    padding-top: 13px;
    padding-top: 0.75rem;
    padding-bottom: 13px;
    padding-bottom: 0.75rem;
}
[gui-m-pad~="half-h"] {
    padding-left: 13px;
    padding-left: 0.75rem;
    padding-right: 13px;
    padding-right: 0.75rem;
}

[gui-m-pad~="double"] {
    padding: 54px;
    padding: 3rem;
}
[gui-m-pad~="double-v"] {
    padding-top: 54px;
    padding-top: 3rem;
    padding-bottom: 54px;
    padding-bottom: 3rem;
}
[gui-m-pad~="double-h"] {
    padding-left: 54px;
    padding-left: 3rem;
    padding-right: 54px;
    padding-right: 3rem;
}
/*------------------------------------------------------------------------------
text molecule
------------------------------------------------------------------------------*/

/* aligns */
[gui-m-text~="lefted"] { text-align: left; }
[gui-m-text~="righted"] { text-align: right; }
[gui-m-text~="centered"] { text-align: center; }

/* weights */
[gui-m-text~="300"] { font-weight: 300; }
[gui-m-text~="400"] { font-weight: 400; }
[gui-m-text~="600"] { font-weight: 600; }
[gui-m-text~="700"] { font-weight: 700; }

/*text transforms */
[gui-m-text~="uppercased"] { text-transform: uppercase; }
[gui-m-text~="untransformed"] { text-transform: none; }

/* trims text with an ellipsis */
[gui-m-text~="trimmed"] {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
