//------------------------------------------------------------------------------
// buttons config
//------------------------------------------------------------------------------

// common
@mixin clearButtonDefaults() {
    color: inherit;
    text-transform: inherit;
    font-weight: inherit;
    font-size: inherit;
    border-radius: 0;
    @include box-shadow(none);
    background-color: transparent;
    background-image: none;
}

// default
$button-default-txt-c: black;
$button-default-bg-c: $c-silver;
$button-default-sh: 0 rem(2px) 0 0 $c-silverDark;
$button-default-bg-hover-c: $c-silverLight;
$button-default-bg-active-c: $c-silverLighter;

// important
$button-important-txt-c: white;
$button-important-bg-c: $c-crimson;
$button-important-sh: 0 rem(2px) 0 0 $c-crimsonDark;
$button-important-bg-hover-c: $c-crimsonLight;
$button-important-bg-active-c: $c-crimsonLighter;
