//------------------------------------------------------------------------------
// buttons module
//------------------------------------------------------------------------------

/*
<button am-button="important wide" disabled>CANTGO</button>
*/

@import "modules/buttons/config";

[am-button] {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    @include box-sizing(border-box);
    cursor: pointer;
    margin: 0;
    border: 0;
    outline: 0;
    padding: rem($space-small) rem($space-medium);
    line-height: 1;
    font-size: 1rem;
    font-weight: 700;
    font-family: inherit;
    text-align: center;
    text-decoration: none;
    color: $button-default-txt-c;
    background-color: $button-default-bg-c;
    @include box-shadow($button-default-sh);
    @include border-radius(rem($input-br));
    @include transition(background-color $d-faster);
    &:not([disabled]):hover {
        background-color: $button-default-bg-hover-c;
    }
    &:not([disabled]):active,
    &:not([disabled]).active {
        background-color: $button-default-bg-active-c;
    }
}

[am-button~="naked"] {
    @include clearButtonDefaults();
    &:not([disabled]):hover {
        @include opacity($f-giant);
        background-color: transparent;
    }
    &:not([disabled]):active,
    &:not([disabled]).active {
        @include opacity($f-big);
        background-color: transparent;
    }
    &[am-button~="naked-textual"] {
        line-height: inherit;
        padding: 0;
    }
}

[am-button~="wide"] {
    padding-left: rem($space-giant);
    padding-right: rem($space-giant);
}

[am-button~="small"] {
    font-size: 1rem * $f-giant;
    padding: rem($space-little + 1) rem($space-small) rem($space-little - 1);
    &[am-button~="wide"] {
        padding-left: rem($space-large);
        padding-right: rem($space-large);
    }
}

[am-button~="full"] {
    width: 100%;
    text-align: left;
}

[am-button~="flat"] {
    border-radius: 0;
    @include box-shadow(none);
}

[am-button~="important"] {
    color: $button-important-txt-c;
    background-color: $button-important-bg-c;
    @include box-shadow($button-important-sh);
    &[disabled] {
        color: $button-default-txt-c;
        background-color: $button-default-bg-c;
        @include box-shadow($button-default-sh);
    }
    &:not([disabled]):hover {
        background-color: $button-important-bg-hover-c;
    }
    &:not([disabled]):active,
    &:not([disabled]).active {
        background-color: $button-important-bg-active-c;
    }
}
