//------------------------------------------------------------------------------
// icons config
//------------------------------------------------------------------------------

// sizes
$icon-default-w: $w-large;
$icon-big-w: $w-big;
$icon-small-w: $w-small;
