//------------------------------------------------------------------------------
// footer layout
//------------------------------------------------------------------------------

#appFooter {
    max-width: $app-content-w;
    margin-left: auto;
    margin-right: auto;
}
