// scrollBars config

// common
$scrollBar-w: 0.5rem;
$scrollBar-thumb-br: $scrollBar-w * 0.5;

// default
$scrollBar-default-track-bg-c: rgba($c-black, $f-medium);
$scrollBar-default-thumb-bg-c: $c-black;
