{% include setup/templateStart.liquid %}

{% include modules/pageHeader.liquid %}

<section role="main">{{ content }}</section>

{% include modules/pageFooter.liquid %}

{% include setup/templateEnd.liquid %}
