/*------------------------------------------------------------------------------
area utility
------------------------------------------------------------------------------*/

[gui-u-area~="white"] {
    color: var(--c-charcoal);
    background-color: var(--c-white);
}

[gui-u-area~="silver"] {
    color: var(--c-charcoal);
    background-color: var(--c-silver);
}

[gui-u-area~="charcoal"] {
    color: var(--c-white);
    background-color: var(--c-charcoal);
}
