/*------------------------------------------------------------------------------
area utility
------------------------------------------------------------------------------*/

[gui-u-area~="amaranth"] { background-color: var(--c-amaranth); }
[gui-u-area~="purple"] { background-color: var(--c-purple); }
[gui-u-area~="violet"] { background-color: var(--c-violet); }
[gui-u-area~="white"] { background-color: var(--c-white); }
[gui-u-area~="silver"] { background-color: var(--c-silver); }
[gui-u-area~="charcoal"] { background-color: var(--c-charcoal); }

/* text color for light backgrounds */
[gui-u-area~="white"],
[gui-u-area~="silver"] {
    color: var(--c-charcoal);
}

/* text color for dark backgrounds */
[gui-u-area~="charcoal"],
[gui-u-area~="amaranth"],
[gui-u-area~="purple"],
[gui-u-area~="violet"] {
    color: var(--c-white);
}
