/*------------------------------------------------------------------------------
column utility
------------------------------------------------------------------------------*/

/* Remember to truncate the white space between columns! */

[gui-u-column] {
    display: inline-block;
    vertical-align: top;

    width: 100%;
}

[gui-u-column~="top"] { vertical-align: top; }
[gui-u-column~="middle"] { vertical-align: middle; }
[gui-u-column~="bottom"] { vertical-align: bottom; }

[gui-u-column~="1/2"] { width: calc( 100% * 1 / 2 ); }
[gui-u-column~="1/3"] { width: calc( 100% * 1 / 3 ); }
[gui-u-column~="2/3"] { width: calc( 100% * 2 / 3 ); }
[gui-u-column~="1/4"] { width: calc( 100% * 1 / 4 ); }
[gui-u-column~="3/4"] { width: calc( 100% * 3 / 4 ); }

[gui-u-columnbefore~="1/2"] { margin-left: calc( 100% * 1 / 2 ); }
[gui-u-columnbefore~="1/3"] { margin-left: calc( 100% * 1 / 3 ); }
[gui-u-columnbefore~="2/3"] { margin-left: calc( 100% * 2 / 3 ); }
[gui-u-columnbefore~="1/4"] { margin-left: calc( 100% * 1 / 4 ); }
[gui-u-columnbefore~="3/4"] { margin-left: calc( 100% * 3 / 4 ); }

[gui-u-columnafter~="1/2"] { margin-right: calc( 100% * 1 / 2 ); }
[gui-u-columnafter~="1/3"] { margin-right: calc( 100% * 1 / 3 ); }
[gui-u-columnafter~="2/3"] { margin-right: calc( 100% * 2 / 3 ); }
[gui-u-columnafter~="1/4"] { margin-right: calc( 100% * 1 / 4 ); }
[gui-u-columnafter~="3/4"] { margin-right: calc( 100% * 3 / 4 ); }
