/*******************************************************************************
icon config
*******************************************************************************/

:root {

    --icon-s: var(--s-leading);
    --icon-s-big: calc( var(--s-leading) * 2 );

}

/*******************************************************************************
icon module
*******************************************************************************/

[i-icon] {
    display: inline-block;
    vertical-align: middle;

    height: var(--icon-s);
    width: var(--icon-s);

    shape-rendering: geometricPrecision;

    fill: currentColor;
    color: inherit;
}

/* bugfix for click target SVGElementInstance */

[i-icon] > * { pointer-events: none; }

[i-icon~='big'] {
    width: var(--icon-s-big);
    height: var(--icon-s-big);
}

[i-icon~='silver'] { fill: var(--c-silver) }
