/*******************************************************************************
inlineblock module
*******************************************************************************/

[i-inlineblock] { display: inline-block; }
