<section i-pad="medium-v">
    <h3><a name="toc-modules-area"></a>area</h3>

    <p><code>&lt;div i-area="charcoal"&gt;&hellip;&lt;/div&gt;</code></p>

    <p>Area sets the colors for the area. Simple as that.</p>

    <div i-area="charcoal" i-pad="half">
        charcoal area
    </div>

    <div i-area="silver" i-pad="half">
        silver area
    </div>

    <div i-area="charcoal" i-pad="half">
        <div i-area="silver" i-pad="half">
            <div i-area="white" i-pad="half">
                white area in silver area that is in charcoal area
            </div>
        </div>
    </div>
</section>
