<section i-pad="medium-v">
    <h3><a name="toc-modules-button"></a>button</h3>

    <p><code>&lt;div i-button="double"&gt;&hellip;&lt;/div&gt;</code></p>

    <p>A simple button component with sizes, <em>hover</em>, <em>active</em> and <em>disabled</em> states.</p>

    <button i-button>default</button>

    <button i-button="hover">hover</button>

    <button i-button="active">active</button>

    <button i-button disabled>disabled</button>

    <button i-button="full">full width</button>

    <button i-button="double">double sized</button>

    <button i-button="triple">triple riot</button>

    <button i-button="quadruple">quadruple power</button>
</section>
