<section i-area="pad-medium-v">
    <h3><a name="toc-modules-hover"></a>hover</h3>

<pre><code>&lt;div i-hover&gt;
    &lt;div i-hover-item="show"&gt;&hellip;&lt;/div&gt;
&lt;/div&gt;</code></pre>

    <p>Hover uses a container-reference element for triggering changes on <code>i-hover-item</code> element. Take caution when nesting.</p>

    <div i-hover i-area="silver pad-medium-v" i-inlineBlock>
        <strong>show me</strong>
        <span i-hover-item="show">this</span>
    </div>

    <div i-hover i-area="charcoal pad-medium-v" i-inlineBlock>
        <strong>hide me</strong>
        <span i-hover-item="hide">this</span>
    </div>

    <div i-hover i-area="silver pad-medium-v" i-inlineBlock>
        <strong>restore me</strong>
        <span i-hover-item="restore">this</span>
    </div>

    <div i-hover i-area="charcoal pad-medium-v" i-inlineBlock>
        <strong>remove me</strong>
        <span i-hover-item="remove">this</span>
    </div>
</section>
