<section i-pad="medium-v">
    <h3><a name="toc-modules-icon"></a>icon</h2>

<pre><code>&lt;div i-icon="big"&gt;
    &lt;use xlink:href="#symbol-sonar"&gt;
&lt;/div&gt;</code></pre>

    <p>Small component styling the SVG icons added with <code>&lt;use&gt;</code>. Just add them in <code>_assets/icons</code> and let <a href="https://github.com/FWeinb/grunt-svgstore">grunt-svgstore</a> do its work.</p>

    <table i-table>
        <thead>
            <tr>
                <th>default</th>
                <th>big</th>
                <th>big & silver</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    <svg i-icon><use xlink:href="#symbol-sonar"></svg>
                </td>

                <td>
                    <svg i-icon="big"><use xlink:href="#symbol-sonar"></svg>
                </td>

                <td>
                    <svg i-icon="big silver"><use xlink:href="#symbol-sonar"></svg>
                </td>
            </tr>
        </tbody>
    </table>
</section>
