<section i-pad="medium-v">
    <h3><a name="toc-modules-pad"></a>pad</h3>

    <p><code>&lt;div i-pad="medium-h"&gt;...&lt;/div&gt;</code></p>

    <p>Defines a padding for element. Uses <code>-v</code> and <code>-h</code> suffixes for setting only vertical (top & bottom) or horizontal (left & right) margins.</p>

    <div i-area="silver" i-pad="medium">medium</div>

    <div i-area="charcoal" i-pad="medium-v">medium vertical</div>

    <div i-area="silver" i-pad="medium-h">medium horizontal</div>

    <div i-area="charcoal" i-pad="half-h double-v">
        half horizontal & double vertical
    </div>
</section>
