<section i-pad="medium-v">
    <h3><a name="toc-modules-pad"></a>pad</h3>

    <p><code>&lt;div i-pad="medium-h"&gt;&hellip;&lt;/div&gt;</code></p>

    <p>Defines a padding for element. Uses <code>-v</code> and <code>-h</code> suffixes for setting only vertical (top & bottom) or horizontal (left & right) spacing.</p>

    <p>There are no single-side modifiers (top, bottom, left and right), as we want to keep the leading flow of the document pristine.</p>

    <p>We also try to follow <a href="http://alistapart.com/article/learning-from-lego-a-step-forward-in-modular-web-design">The LEGO Way</a> of handling spacing of stuff.</p>

    <div i-area="silver" i-pad="medium">medium</div>

    <div i-area="charcoal" i-pad="medium-v">medium vertical</div>

    <div i-area="silver" i-pad="medium-h">medium horizontal</div>

    <div i-area="charcoal" i-pad="half-h double-v">
        half horizontal & double vertical
    </div>
</section>
