<section i-pad="medium-v">
    <h3><a name="toc-modules-progressBar"></a>progressBar</h3>

<pre><code>&lt;div i-progressBar&gt;
    &lt;span i-progressBar-indicator style="width: 50%;"&gt;&lt;/span&gt;
&lt;/div&gt;</code></pre>

    <p>Progress bars consist of a bar and an indicator. Indicator size should be probably managed by <em>JavaScript</em> with setting percentage <code>width</code>. It fills the vertical space on default, but has a <em>short</em> modifier too. There is also a nice <em>pending</em> animation.</p>

    <h4>default:</h4>

    <div i-progressBar="pending">
        <span i-progressBar-indicator style="width: 0%;"></span>
    </div>

    <div i-progressBar>
        <span i-progressBar-indicator style="width: 0%;"></span>
    </div>

    <div i-progressBar>
        <span i-progressBar-indicator style="width: 33%;"></span>
    </div>

    <div i-progressBar>
        <span i-progressBar-indicator style="width: 100%;"></span>
    </div>

    <div i-progressBar="pending">
        <span i-progressBar-indicator style="width: 100%;"></span>
    </div>

    <h4>short:</h4>

    <div i-progressBar="pending short">
        <span i-progressBar-indicator style="width: 0%;"></span>
    </div>

    <div i-progressBar="short">
        <span i-progressBar-indicator style="width: 67%;"></span>
    </div>

    <div i-progressBar="pending short">
        <span i-progressBar-indicator style="width: 100%;"></span>
    </div>
</section>
