<section i-pad="medium-v">
    <h3><a name="toc-modules-table"></a>table</h3>

<pre><code>&lt;table i-table="hoverable"&gt;
    &lt;caption&gt;&hellip;&lt;/caption&gt;
    &lt;thead&gt;
        &lt;tr&gt;
            &lt;th&gt;&hellip;&lt;/th&gt;
        &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
        &lt;tr&gt;
            &lt;td&gt;&hellip;&lt;/td&gt;
        &lt;/tr&gt;
    &lt;/tbody&gt;
&lt;/table&gt;</code></pre>

    <table i-table="hoverable">
        <caption>Middle Jurassic sections</caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Period <small>[Mya]</small></th>
                <th>Duration <small>[My]</small></th>
                <th>Species</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Callovian</td>
                <td i-text="nowrap">166-163</td>
                <td>3</td>
                <td>Agilisaurus, Liopleurodon, Huayangosaurus</td>
            </tr>
            <tr>
                <td>Bathonian</td>
                <td i-text="nowrap">168-166</td>
                <td>2</td>
                <td>Metriorhynchus, Teleidosaurus, Shunosaurus</td>
            </tr>
            <tr>
                <td>Bajocian</td>
                <td i-text="nowrap">170-168</td>
                <td>2</td>
                <td>Belemnites, Ophionautilus, Somalinautilus</td>
            </tr>
            <tr>
                <td>Aalenian</td>
                <td i-text="nowrap">174-170</td>
                <td>4</td>
                <td>Abbasites, Belemnites, Steneosaurus</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>Total</th>
                <td i-text="nowrap">174-163</td>
                <td>11</td>
                <td>
                    Agilisaurus, Liopleurodon, Huayangosaurus,
                    Metriorhynchus, Teleidosaurus, Shunosaurus,
                    Belemnites, Ophionautilus, Somalinautilus,
                    Abbasites, Steneosaurus
                </td>
            </tr>
        </tfoot>
    </table>
</section>
