//------------------------------------------------------------------------------
// clearfixes module
//------------------------------------------------------------------------------

/*
    <h3 am-clearfix></h3>
*/

[am-clearfix]{
    @include clearfix();
}

[am-clearfix~='unwrapped'] {
    overflow: auto;
}
